/*BOXEON CSS*/
/*Presentation*/
padding-top-6-em {
  padding-top: 6em;
}
margin-bottom-10-em {
  margin-bottom: 10em;
}
margin-top-4-em {
  margin-top: 4em;
}
/*Structure*/
#box #headline {
  position: relative !important;
  top: 0;
  text-align: right;
  position: relative;
  right: 2.6em;
}
#box-masthead-btn-wrapper {
  max-width: 90%;
}
/*#box  header{
	background-color: transparent!important;
}*/
#how-it-works img{
	width:100px;
	height:100px;
	
}
#how-it-works{
	width:50%;
	margin:5em;
	margin-left:auto;
	margin-right:auto;
	filter:grayscale(1);
	font-size:.7em;
}
.four-col-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  grid-gap: 1em;
  margin: 2em;
  
}
.four-col-grid * {
  margin: auto;
}
.three-col-grid, .price-options-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  grid-gap: 1em;
  margin: 2em;
  background-color: #fff;
}
.price-options-grid p {
  grid-column-start: 2;
}
.price-options-grid input {
  margin-left: .5em;
}
.price-options-grid input, .price-options-grid p {
  padding: 1em;
  text-align: center;
}
#welcome {
  font-weight: 100;
  margin-bottom: 1em;
}
#home-videos-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#masthead-video-wrapper img {
  max-width: 100%;
  margin-top: 9.5em;
}
#video-place-holder, #masthead-iframe-wrapper iframe {
  width: 100%;
  min-height: 360px;
}
#m-body iframe {
  width: 100%;
  height: 40em;
}
#video-place-holder {
  width: 50%;
  margin-top: 6em;
  text-align: left;
  background-color: #fff;
  padding: 2em;
}
.gpic {
  height: 30px;
  border-radius: 9999px;
}
.showAddress:hover .address {
  display: block;
}
body {
  margin: 0;
  color: #4a4a4a;
  font-size: 13.4px;
  height: auto;
  min-height: 97%;
  font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-weight: 100 !important;
  background-color: #f5f7fa;
}
#container {
  display: grid;
  grid-template-rows: auto 50px auto auto;
  grid-gap: 1px;
}
#masthead {
  grid-row-start: 3;
  grid-row-end: 3;
  width: 100%;
  height: 70em;
}
#masthead, main {
  opacity: 0;
}
#index main {
  display: grid;
  grid-template-rows: auto;
}
#home main {
  display: grid;
  grid-template-columns: 15% 68% 15%;
  min-height: 70em;
  margin-top: 2em;
  grid-gap: 1%;
  /*  padding-left: 13em;
  padding-right: 13em;*/
}
#alt-home-main {
  display: block !important;
}
#alt-home-main:last-child {
  margin-bottom: 10em;
}
#alt-home-main .section iframe, #alt-home-main .secinner {
  margin-top: 0;
  margin-bottom: auto;
  height: 310px;
}
#alt-home-main .alt-section-inner-grid {
  margin-top: 8em;
}
#buyers-guide {
  padding-left: 13em;
  padding-right: 13em;
}
/*#alt-home-main #subs-btns {
  margin-left: 0 !important;
}*/
/* Home Page */
.three-em-line-height {
  line-height: 3em;
}
.one-em-font, #financing-help {
  font-size: 1em;
}
#recommended-list {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: auto;
}
#left-aside {
  grid-column-start: 1;
}
#right-aside {
  grid-column-start: 3;
}
#guide {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 1em;
  border: 1px solid #ddd;
}
.tip {
  padding: 1em;
}
/* Home Page ends */
#sresults {
  visibility: hidden;
  position: relative;
  top: 2.5em;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-weight: normal;
}
#panel {
  height: fit-content;
  background-color: #ffffff;
  padding: 2em;
}
#panel form {
  margin-top: 1em;
}
form {
  font-size: 1em;
}
.underline {
  text-decoration: underline;
}
#progress {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 1%;
  z-index: 10002;
}
#bar {
  width: 1%;
  height: 5px;
  background-color: #005ea6;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
.center-text {
  text-align: center;
}
.section {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em 1em;
  width: 60%;
  overflow-y: hidden;
  height: auto;
  padding-bottom: 2em;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.vertical-align {
  margin-top: auto;
  margin-bottom: auto;
}
.about {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5em;
  margin: 0 auto;
  grid-gap: 5%;
  padding-left: 6.5em;
}
.center {
  margin: 0 auto;
}
#business-model-explanation {
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 3%;
  text-align: center;
}
.sales-icon {
  width: 120px;
  height: 120px;
}
.productsgif {
  width: 800px;
  height: auto;
}
.centered {
  text-align: center;
  margin: auto;
  display: block;
}
#subs-btns {
  display: grid;
  grid-template-columns: auto auto;
}

.searchresult img {
  height: 80px;
  margin-right: 1em;
  border-radius: 9999px;
}
.search-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 36% auto;
  min-width: 100px;
}
.search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}
.search {
  border: 1px solid #f5f7fa;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}
.search:hover, .search:focus {
  border: 1.5px solid #005ea6;
  background-color: white;
}
#tabs-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}
.lock {
  background: url("../images/lock-icon.svg") no-repeat left;
  padding-left: 1em;
  margin-top: 1em;
}
.numbers {
  background-color: lightblue;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  margin-bottom: 1em;
  color: #fff;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  float: left;
}
#profile-pic {
  background-color: #f5f7fa;
  height: 12em;
  width: 12em;
  border-radius: 50%;
  display: block;
  color: #fff;
  padding: 4px;
  font-size: .8em;
  z-index: 100;
  margin: 0 auto;
  border: 2px solid #fff;
  background-position: left;
}
#profile-ego {
  position: relative;
  top: 2em;
}
.profile-heading {
  font-size: 2em;
}
#profile-section {
  padding-top: 0 !important;
}
#testimonials img {
  height: 200px;
}
#profile-pic {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  float: left;
  margin-right: .5em;
  position: relative;
  bottom: .4em;
}
header {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 3em 6em auto;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  z-index: 1000;
  padding-left: 2em;
  width: 100%;
  height: 50px;
  background-color: #fff;
}
/* HEADER */
#beta {
  font-size: .6em;
  background: #ddd;
  color: #797979;
  text-transform: lowercase;
  display: inline;
  float: right;
  padding: .2em;
  font-family: "Concert One";
  display: none;
}
header > * {
  margin: auto;
}
.menu div {
  width: 30px;
  height: 3px;
  background-color: #7B8723;
  margin: 6px 0;
  display: none;
}
#headline {
  padding-left: 13em;
  position: absolute;
  top: 9em;
  z-index: 1;
}
.headline-user-box {
  width: 640px;
  display: inline-block;
}
.extra-large-font, h2 {
  font-size: 2.5em;
  font-weight: 100;
}
.highlighted {
  font-size: 2.5em;
}
#headline h1 {
  font-size: 2.5em;
  width: 40%;
}
.ginormous {
  font-size: 5em !important;
  font-weight: 100;
}
nav a:hover {
  text-decoration: underline !important;
}
#logo {
  display: inline;
}
#footer-logo, #logo img {
  width: auto;
  height: 30px;
}
#footer-logo {
  margin-bottom: .5em;
}
header a {
  text-decoration: none;
}
.large-margin-bottom {
  margin-bottom: 4em;
}
footer {
  background-color: #f5f7fa;
  margin: 0 auto;
  display: grid;
  padding-top: 10em;
  padding-bottom: 5em;
  border-top: 1px solid #fff;
  width: 100%;
}
#footer-content-wrapper {
  margin: auto;
}
#footer-content-wrapper a {
  padding: .5em;
  color: #4a4a4a;
  font-size: 1em;
}
/* combine */
.section-inner-grid {
  display: grid;
  grid-template-columns: 45% auto;
  grid-gap: 5em;
}
.alt-section-inner-grid {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5em;
}
.move-right {
  position: relative;
  left: 1em;
}
.move-left {
  position: relative;
  right: 1em;
}
#centered-texts {
  margin-left: 9.2em;
}
/***** MODAL ------------------*/
#paypal-button-container {
  display: none;
}
#m-window {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-color: rgb(0, 0, 0, 0.4);
}
#m-content {
  background-color: #f5f7fa;
  margin: 130px auto; /* 15% from the top and centered */
  padding: 2em;
  min-width: 30%;
  width: fit-content;
  border-radius: .5em;
  /*  border: 1px solid #0D0D0D;*/
  position: relative;
}
#mc-header {
  padding: 1em;
  padding-left: 0;
  background-color: #f5f7fa;
  margin-top: 3em;
}
#mc-header h1 {
  padding: 0;
  margin: 0;
  color: #005ea6;
}
#close, #m-close {
  color: #8C8C8C;
  font-family: "Concert One";
  text-transform: uppercase;
}
#close:hover, #m-close:hover, #m-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
#module {
  margin: auto;
  width: 50%;
  margin-top: 4em !important;
  background-color: #fff;
  padding: 2em;
  min-height: 20em;
}
#module form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#home #module form {
  width: 100%;
}
.alert {
  background-color: #ffffe02e;
  border: 1px solid #ffffe0;
  width: 95%;
  padding: 1em;
  margin-top: 1em;
  color: #000 !important;
  text-align: left !important;
  margin-bottom: 2em;
}
#container {
  background-color: #f5f7fa;
}
/* FORMS ---------------------- */
.price-options-grid label {
  text-align: center;
}
input:disabled {
  background-color: #f4f4f4 !important;
  color: #f4f4f4 !important;
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
label {
  padding: .6em;
}
#home input[type="radio"] {
  float: left;
  clear: both;
  margin-bottom: .5em;
}
#embed-form {
  width: 63%;
  height: 105px;
}
.buttonHolder {
  text-align: center;
}
input[type="number"], input[type="email"], select, textarea, input[type="text"], input[type="url"] {
  width: 25em;
  padding: .6em;
  border: 1px solid #1d1d1d;
  color: #1b1b1b;
  float: left;
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
}
#panel h1 {
  font-weight: normal !important;
}
input[type="number"], input[type="email"], select, textarea, input[type="text"], input[type="url"] {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: .5em;
}
#changeprice {
  display: grid;
  grid-template-columns: 8em auto;
}
#changeprice label {
  margin: auto;
}
.border-bottom {
  border-bottom: 1px solid #1d1d1d;
}
label, input[type="submit"] {
  float: left;
  clear: both;
}
fieldset {
  padding: 1em;
  border: none;
  margin-bottom: 1em;
}
textarea {
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
}
/*Typograghy*/
#text-brand-name {
  font-family: "Concert One";
  text-transform: uppercase;
}
.text-heading-label {
  position: relative;
  top: 2em;
  color: #005ea6;
}
#tabs {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 2em;
}
#tabs li {
  background: #f5f7fa;
  margin-right: .5em;
  display: inline;
  padding: .5em;
  border-bottom: 3px solid #f5f7fa;
}
#tabs li a:hover {
  text-decoration: none;
  cursor: pointer;
}
#tabs li:hover {
  border-bottom: 3px solid #005ea6;
}
#box #headline {
  padding-left: 0;
}
#box #headline p {
  max-width: 90%;
}
#box #headline h1 {
  margin-top: 3em;
  width: 90%;
}
.font-1-5-em {
  font-size: 1.5em;
}
.grey {
  color: #a29d9d;
}
.guideh1 {
  background-color: #fff;
  padding: 1em;
}
.profile-heading, #subs-btns, .guideh1 {
  margin-top: 2em;
  margin-bottom: 2em;
}
#guideh1 {
  padding-top: 2em;
  padding-bottom: 2em;
}
#signin {
  grid-column-start: 3;
  padding-left: 1.5em;
  width: 16em;
  color: #005ea6;
  padding-right: 2em;
  background: url("../images/googleg.png") no-repeat;
  width: 10em;
  position: fixed;
  right: 0;
  top: .8em;
  line-height: inherit !important;
}
#current-user {
  grid-column-start: 3;
  padding-left: 1.5em;
  width: 16em;
  color: #005ea6;
  padding-right: 2em;
  width: 10em;
  position: absolute;
  right: 0;
  top: .8em;
  line-height: inherit !important;
}
.menu a {
  color: #4a4a4a;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0;
  position: relative;
  padding: .5em;
  padding-left: 1em;
  width: 60%;
  margin: auto;
  margin-left: 2em;
  margin-right: auto;
  display: none;
  border: 1px solid #ddd !important;
  background-color: #f5f7fa;
}
input[type="submit"], .button, button {
  background-color: #005ea6;
  border: 1px solid darkblue;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: bold;
  width: 11em;
  margin-bottom: 1em;
  height: 3em;
  cursor: pointer;
  font-family: "Open Sans";
  padding: .8em 1.5em .8em 1.5em;
  letter-spacing: 1px;
  outline: none;
  font-size: inherit !important;
  border-radius: 25px;
}
.fadein {
  opacity: 1 !important;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
.fadeout {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutOpacity {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
#invites-menu {
  display: none;
}
#box .for-creators-only {
  visibility: hidden;
}
.menu a:hover {
  text-decoration: none;
  color: #005ea6;
  font-weight: bold;
  background-color: #fff;
}
.menu {
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  width: 0;
  grid-template-rows: auto;
  grid-gap: .5em;
  top: 0;
  bottom: 0;
  transition: width 1.5s;
}
/*h2 {
  font-size: 1.8em !important;
}*/
#pitch {
  width: 15em;
  position: relative;
  bottom: 1em;
  font-size: 1.8em;
}
p {
  max-width: 30em;
}
.privacy p {
  max-width: 100%;
}
.centered-p {
  width: 40em;
  padding: 1em;
}
#normal-p p {
  font-size: 1.2em;
}
.right-align {
  text-align: right;
}
ul, p {
  line-height: 140%;
}
ul li {
  padding-bottom: .5em;
}
ul, P, a {
  font-size: 1.3em;
}
.privacy #panel a {
  color: #005ea6;
  text-decoration: underline;
}
.privacy #panel ul li, .privacy #panel p {
  line-height: 200%;
}
.secinner {
  padding: 1em;
  height: 40%;
  margin-top: auto;
  margin-bottom: auto;
}
.centerform {
  display: inline-block;
}
.centerform form input[type="text"] {
  background-color: #fff;
}
.numbersh1 {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: blue;
}
a:hover {
  text-decoration: underline;
}
.blue {
  color: deepskyblue !important;
  text-decoration: underline !important;
  display: block;
}
.recommended {
  border: 4px solid #F2835E !important;
  position: relative;
  background-color: #fff;
}
.recommendedh2 {
  background-color: #F2835E;
  color: #fff;
}
#dash-menu {
  height: max-content;
}
#dash-menu tr:nth-child(even) {
  background-color: #fff;
}
#dash-menu tbody a {
  text-decoration: underline;
}
#dash-menu thead tr {
  color: #fff;
  background-color: #005ea6;
}
#dash-menu thead th {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
td h2 {
  position: relative;
}
#invite-creator-ui form input {}
#invite-creator-ui form, #invite-creator-ui {
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 90px 90px auto;
  width: 100%;
  grid-gap: 2em;
  grid-column-start: 3;
  position: relative;
}
/*.red {
  color: #0c8dc4 !important;
}*/
.secinner h1 {
  margin-top: 0;
}
.section iframe, .section img {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
}
.answers img {
  height: 350px !important;
}
.answers {
  grid-template-columns: 50% 50%;
}
/*.section h2 {
  font-size: 3em;
  line-height: 1em;
}*/
h4 {
  width: 25em;
  line-height: 1.5em;
}
.section h3 {
  font-weight: bold;
}
input[type="submit"]:active, .button:active, button:active {
  background: #005ea6;
  color: #fff;
}
.darkblue {
  color: #0c8dc4 !important;
}
.ginormous {
  color: #005ea6 !important;
}
input[type="submit"]:hover, .button:hover, button:active:hover {
  background: #0c8dc4;
}
.button {
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.clearbtn {
  background-color: #f5f7fa !important;
  color: #005ea6 !important;
  border: 1px solid #eeeeee !important;
}
.clearbtn:hover {
  background-color: #f5f7fa;
}
/* -------- SWITCHES / SLIDERS -------- */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 21px;
  right: 0;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
.switches li {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  padding-bottom: 4em;
}
.switches {
  padding: 1em;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(8px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 1.2em;
  width: 2em;
}
.slider.round:before {
  border-radius: 50%;
}
#mobile-signin {
  display: none
}
/* ----- IMAGES --------*/
#image-next-arrow {
  transform: rotate(90deg);
}
#image-previous-arrow {
  transform: rotate(-90deg);
}
#image-next-arrow, #image-previous-arrow {
  width: 1em;
  margin: auto;
}
#image-next-arrow:hover, #image-previous-arrow:hover {
  cursor: pointer;
}
.playbtn-wrapper {
  position: relative;
  height: fit-content;
  width: fit-content;
}
.playbtn {
  width: 5em;
  height: auto;
  position: absolute;
  left: 42%;
  top: 30%;
}
.playbtn:hover {
  cursor: pointer;
}
#as-seen-on-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2em;
  position: relative;
  top: -8em;
}
#as-seen-on-wrapper img {
  width: 50px;
  filter: grayscale(100%);
}
#charitable img {
  width: 90px;
  height: auto;
}
#charitable {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: .2em;
  position: relative;
  top: -4em;
  color: #727272;
}
#box-masthead-inner-wrapper {
  width: 90%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  margin: auto;
}
#box-background-image {
  width: 100%;
  height: 15em;
  background-image: url("../images/box-opening.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff !important;
  padding: 1em;
  display: none;
}
.creator-pic {
  border-radius: 9999px;
  border: .2em solid #fff;
  margin-right: .2em;
  position: relative;
  top: .4em;
}
#contact-image {
  width: 50%;
  height: auto;
}
#menu-icon img {
  width: 25px;
  height: 25px;
}
#paypal-logo {
  width: 100px;
}
#masthead-image {
  width: 100%;
  height: 100%;
  background: url(../images/marilyn.svg) no-repeat 80% 5em;
}
#masthead-image-products {
  width: 100%;
  height: 100%;
  background: url("../images/leap.svg") no-repeat 80% 5em;
}
#masthead-image-about {
  width: 100%;
  height: 100%;
  background: url("../images/team.svg") no-repeat 80% 5em;
}
#masthead-image-commission {
  width: 100%;
  height: 100%;
  background: url("../images/powerful.svg") no-repeat 80% 5em;
}
#masthead-image-plus {
  width: 100%;
  height: 100%;
  background: url("../images/spread-love.svg") no-repeat 80% 5em;
}
#masthead-image-task {
  width: 100%;
  height: 100%;
  background: url("../images/tasks.svg") no-repeat 80% 5em;
}
#masthead-image-construction {
  width: 100%;
  height: 100%;
  background: url("../images/construction.svg") no-repeat 80% 5em;
}
#masthead-image-buyers-home {
  width: 100%;
  height: 100%;
  background: url("../images/share_link.svg") no-repeat 80% 5em;
}
/* ----- MOBILE----------------------


320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops

1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV


*/
@media only screen and (max-width: 1320px) {
  #video-place-holder {
    width: 100%;
    padding: 0;
    margin-top: 4em;
  }
  #panel a {
    padding: 0;
  }
  header > * {
    margin: 0;
  }
  .for-creators-only {
    display: none;
  }
  .padding-bottom-none {
    padding-bottom: 0 !important;
  }
  .answers {
    padding-top: 0 !important;
  }
  #module, #module form {
    padding: 0;
    font-size: inherit;
    width: auto;
  }
  #mobile-signin {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-color: #f5f7fa;
    display: block;
    left: 0;
  }
  #guide {
    display: block;
  }
  #home #mobile-signin {
    display: none;
  }
  .section img {
    margin-bottom: 0;
  }
  #signin {
    display: none;
  }
  #mobile-signin a {
    padding-left: .5em;
    width: 11em;
    background: url("../images/googleg.png") no-repeat;
    line-height: inherit !important;
    vertical-align: middle;
  }
  .section {
    width: 100%;
  }
  #container {
    padding: 1em;
    background-color: #fff;
  }
  header {
    padding-left: 0;
  }
  #headline h1, #pitch {
    width: auto;
  }
  #headline {
    top: 8em !important;
    padding-left: 0 !important;
    grid-row-start: 3;
    grid-row-end: 3;
    position: static !important;
  }
  #testimonials {
    display: block;
    width: auto;
  }
  #testimonials img {
    height: 100px;
  }
  .section img {
    height: 300px;
  }
  #masthead {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50em;
    overflow-y: hidden;
  }
  #box #masthead {
    display: block;
  }
  #headline {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #masthead div {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  #masthead-image {
    width: 95%;
    height: 100%;
    background: url(../images/altwelcomeimg.svg) no-repeat right 5em !important;
  }
  #masthead-image-commission {
    width: 95%;
    height: 100%;
  }
  #masthead-image-plus {
    width: 95%;
    height: 100%;
    background: url(../images/ballons.svg) no-repeat right 5em !important;
  }
  #masthead-image-products {
    width: 95%;
    height: 100%;
    background: url(../images/products.svg) no-repeat right 5em !important;
  }
}
/* SMALL SCREENS */
@media only screen and (max-width: 768px) {
  #m-content {
    width: 95%;
  }
  #logo {
    bottom: .5em;
    position: relative;
  }
  #getlabels {
    left: -9.5em !important;
    left: 0;
    color: #fff !important;
    background-color: #005ea6;
  }
  #current-user {
    padding: 0;
    position: relative;
    top: 0;
  }
  .tip {
    padding: 0;
    margin-bottom: 4em;
  }
  input, select, button, .button, textarea {
    width: 100% !important;
  }
  #subs-btns {
    display: block;
  }
  #subs-btns button {
    margin-bottom: 2em !important;
  }
  fieldset {
    padding: 0;
    width: 100%;
  }
  #embed-form {
    width: 100%;
    height: 200px;
    padding: 0;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #home main {
    display: block;
    padding: 0;
  }
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  #container {
    display: block;
  }
  p {
    max-width: 100%;
  }
  #masthead {
    height: 80em;
    display: block !important;
  }
  .section-inner-grid, .alt-section-inner-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 1em;
  }
  .section {
    width: 100%;
  }
  .section img {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #headline h1, #pitch {
    width: auto;
    max-width: 100% !important;
  }
  #headline {
    top: 8em !important;
    padding-left: 0 !important;
    grid-row-start: 3;
    grid-row-end: 3;
    position: static !important;
  }
}