// Main

$font-stack: Open Sans, Roboto, Arial, Helvetica, sans-serif
$primary-color: #005ea6
$highlight-color: #0c8dc4 
$color: #4a4a4a


#alt-home-main

	display: block !important

#alt-home-main .alt-section-inner-grid

	margin-top: 8em

#alt-home-main .section iframe, #alt-home-main .secinner

	height: 310px
	margin-bottom: auto
	margin-top: 0

#alt-home-main:last-child

	margin-bottom: 10em

#as-seen-on-wrapper

	display: grid
	grid-gap: 2em
	grid-template-columns: auto auto auto auto auto
	position: relative
	top: -8em

#as-seen-on-wrapper img

	filter: grayscale(100%)
	width: 50px

#bar

	background-color: #005ea6
	color: white
	height: 5px
	line-height: 30px
	text-align: center
	width: 1%

#beta

	background: #ddd
	color: #797979
	display: inline
	display: none
	float: right
	font-family: "Concert One"
	font-size: .6em
	padding: .2em
	text-transform: lowercase

#box .for-creators-only

	visibility: hidden

#box-background-image

	background-color: #fff !important
	background-image: url("../images/box-opening.svg")
	background-position: center
	background-repeat: no-repeat
	background-size: contain
	display: none
	height: 15em
	padding: 1em
	width: 100%

#box-headline

	padding-left: 0

#box-headline

	position: relative !important
	position: relative
	right: 2.6em
	text-align: right
	top: 0

#box-headline h1

	margin-top: 3em
	width: 90%

#box-headline p

	max-width: 90%

#box-masthead-btn-wrapper

	max-width: 90%

#box-masthead-inner-wrapper

	display: grid
	grid-template-columns: 10% 40% 40% 10%
	margin: auto
	width: 90%

#business-model-explanation

	height: auto
	margin: auto
	padding-top: 3%
	text-align: center
	width: 80%

#buyers-guide

	padding-left: 13em
	padding-right: 13em

#centered-texts

	margin-left: 9.2em

#changeprice

	display: grid
	grid-template-columns: 8em auto

#changeprice label

	margin: auto


#close, #m-close

	color: #8C8C8C
	font-family: "Concert One"
	text-transform: uppercase

#close:hover, #m-close:hover, #m-close:focus

	color: red
	cursor: pointer
	text-decoration: none

#contact-image

	height: auto
	width: 50%

#container

	display: grid
	grid-gap: 1px
	grid-template-rows: auto 50px auto auto

#container

	background-color: #f5f7fa

#current-user

	color: #005ea6
	grid-column-start: 3
	line-height: inherit !important
	padding-left: 1.5em
	padding-right: 2em
	position: absolute
	right: 0
	top: .8em
	width: 10em
	width: 16em

#dash-menu

	height: max-content

#dash-menu tbody a

	text-decoration: underline

#dash-menu thead th

	font-weight: bold
	text-align: left
	text-transform: uppercase

#dash-menu thead tr

	background-color: #005ea6
	color: #fff

#dash-menu tr:nth-child(even)

	background-color: #fff

#embed-form

	height: 105px
	width: 63%

#footer-content-wrapper

	margin: auto

#footer-content-wrapper a

	color: #4a4a4a
	font-size: 1em
	padding: .5em

#footer-logo

	margin-bottom: .5em

#footer-logo, #logo img

	height: 30px
	width: auto

#guide

	display: grid
	grid-gap: 1em
	grid-template-columns: auto auto auto
	grid-template-rows: auto auto auto

#guideh1

	padding-bottom: 2em
	padding-top: 2em

#headline

	padding-left: 13em
	position: absolute
	top: 9em
	z-index: 1

#headline h1

	font-size: 2.5em
	width: 40%

#home #module form

	width: fit-content

#home input[type="radio"]

	clear: both
	float: left
	margin-bottom: .5em

#home main

	display: grid
	grid-gap: 1%
	grid-template-columns: 15% 68% 15%
	margin-top: 2em
	min-height: 70em

#home-videos-wrapper

	display: grid
	grid-template-columns: 25% 25% 25% 25%

#how-it-works

	filter: grayscale(1)
	font-size: .7em
	margin: 5em
	margin-left: auto
	margin-right: auto
	width: 50%

#how-it-works img

	height: 100px
	width: 100px

#image-next-arrow

	transform: rotate(90deg)

#image-next-arrow, #image-previous-arrow

	margin: auto
	width: 1em

#image-next-arrow:hover, #image-previous-arrow:hover

	cursor: pointer

#image-previous-arrow

	transform: rotate(-90deg)

#index main

	display: grid
	grid-template-rows: auto

#invite-creator-ui form input


#invite-creator-ui form, #invite-creator-ui

	margin: 0 auto

#invites-menu

	display: none

#left-aside

	grid-column-start: 1

#logo

	display: inline

#masthead

	grid-row-end: 3
	grid-row-start: 3
	height: 70em
	width: 100%

#masthead, main

	opacity: 0

#masthead-image

	background: url(../images/marilyn.svg) no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-about

	background: url("../images/team.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-buyers-home

	background: url("../images/share_link.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-commission

	background: url("../images/powerful.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-construction

	background: url("../images/makeitrain.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-plus

	background: url("../images/spread-love.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-products

	background: url("../images/leap.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-image-task

	background: url("../images/tasks.svg") no-repeat 80% 5em
	height: 100%
	width: 100%

#masthead-video-wrapper img

	margin-top: 9.5em
	max-width: 100%

#m-body iframe

	height: 40em
	width: 100%

#mc-header

	background-color: #f5f7fa
	margin-top: 3em
	padding: 1em
	padding-left: 0

#mc-header h1

	color: #005ea6
	margin: 0
	padding: 0

#m-content

	background-color: #f5f7fa
	border-radius: .5em
	margin: 130px auto
	min-width: 30%
	padding: 2em
	position: relative
	width: fit-content

#menu-icon img

	height: 25px
	width: 25px

#mobile-signin

	display: none

#module

	background-color: #fff
	margin: auto
	min-height: 20em
	padding: 2em
	width: 50%

#module form

	margin-left: auto
	margin-right: auto
	width: 50%

#m-window

	background-color: #FFF
	background-color: rgb(0, 0, 0, 0.4)
	height: 100%
	left: 0
	position: fixed
	top: 0
	width: 100%
	z-index: 10001

#normal-p p

	font-size: 1.2em

#panel

	background-color: #ffffff
	height: fit-content
	padding: 2em

#panel form

	margin-top: 1em

#panel h1

	font-weight: normal !important

#paypal-button-container

	display: none

#paypal-logo

	width: 100px

#pitch

	bottom: 1em
	font-size: 1.8em
	position: relative
	width: 15em

#profile-ego

	position: relative
	top: 2em

#profile-pic

	border-radius: 9999px
	bottom: .4em
	float: left
	height: 24px
	margin-right: .5em
	position: relative
	width: 24px

#profile-pic

	background-color: #f5f7fa
	background-position: left
	border: 2px solid #fff
	border-radius: 50%
	color: #fff
	display: block
	font-size: .8em
	height: 12em
	margin: 0 auto
	padding: 4px
	width: 12em
	z-index: 100

#profile-section

	padding-top: 0 !important

#progress

	position: fixed
	top: 0
	visibility: hidden
	width: 1%
	z-index: 10002

#recommended-list

	display: grid
	grid-template-columns: max-content max-content max-content max-content
	grid-template-rows: auto

#right-aside

	grid-column-start: 3

#signin

	background: url("../images/googleg.png") no-repeat
	color: #005ea6
	grid-column-start: 3
	line-height: inherit !important
	padding-left: 1.5em
	padding-right: 2em
	position: fixed
	right: 0
	top: .8em
	width: 10em
	width: 16em

#sresults

	background-color: #f9f9f9
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2)
	font-weight: normal
	padding: 12px 16px
	position: relative
	top: 2.5em
	visibility: hidden
	width: 300px
	z-index: 1

#steps-counter

	display: grid
	grid-template-columns: 10% 40% 40% 10%
	width: 100%

#subs-btns

	display: grid
	grid-template-columns: auto auto

#tabs

	display: inline-block
	list-style: none
	margin-bottom: 2em
	padding-left: 0

#tabs li

	background: #f5f7fa
	border-bottom: 3px solid #f5f7fa
	display: inline
	margin-right: .5em
	padding: .5em

#tabs li a:hover

	cursor: pointer
	text-decoration: none

#tabs li:hover

	border-bottom: 3px solid #005ea6

#tabs-wrapper

	display: grid
	grid-template-columns: auto auto auto

#testimonials img

	height: 200px

#text-brand-name

	font-family: "Concert One"
	text-transform: uppercase

#text-current-step-number p

	floar: left

#text-next-step-number p

	float: right

#video-place-holder

	background-color: #fff
	margin-top: 6em
	padding: 2em
	text-align: left
	width: 50%

#video-place-holder, #masthead-iframe-wrapper iframe

	min-height: 360px
	width: 100%

#welcome

	font-weight: 100
	margin-bottom: 1em

.about

	display: grid
	grid-gap: 5%
	grid-template-columns: auto auto auto
	margin: 0 auto
	padding: 5em
	padding-left: 6.5em

.alert

	background-color: #ffffe02e
	border: 1px solid #ffffe0
	color: #000 !important
	margin-bottom: 2em
	margin-top: 1em
	padding: 1em
	text-align: left !important
	width: 95%

.alt-section-inner-grid

	display: grid
	grid-gap: 5em
	grid-template-columns: 45% 45%

.answers

	grid-template-columns: 50% 50%

.answers img

	height: 350px !important

.blue

	color: deepskyblue !important
	display: block
	text-decoration: underline !important

.border-bottom

	border-bottom: 1px solid #1d1d1d

.button

	text-decoration: none

.button:hover

	text-decoration: none

.buttonHolder

	text-align: center

.center

	margin: 0 auto

.centered

	display: block
	margin: auto
	text-align: center

.centered-p

	padding: 1em
	width: 40em

.centerform

	display: inline-block

.centerform form input[type="text"]

	background-color: #fff

.center-text

	text-align: center

.clearbtn

	background-color: #f5f7fa !important
	border: 1px solid #eeeeee !important
	color: #005ea6 !important

.clearbtn:hover

	background-color: #f5f7fa

.creator-pic

	border: .2em solid #fff
	border-radius: 9999px
	margin-right: .2em
	position: relative
	top: .4em

.darkblue

	color: #0c8dc4 !important

.extra-large-font, h2

	font-size: 2.5em
	font-weight: 100

.fadein

	animation-duration: 1s
	animation-iteration-count: 1
	animation-name: fadeInOpacity
	animation-timing-function: ease-in
	opacity: 1 !important

.fadeout

	animation-duration: 2s
	animation-iteration-count: 1
	animation-name: fadeOutOpacity
	animation-timing-function: ease-in
	opacity: 0

.font-1-5-em

	font-size: 1.5em

.four-col-grid

	display: grid
	grid-gap: 1em
	grid-template-columns: auto auto auto auto
	margin: 2em
	margin: auto

.four-col-grid *

	margin: auto

.ginormous

	font-size: 5em !important
	font-weight: 100

.ginormous

	color: #005ea6 !important

.gpic

	border-radius: 9999px
	height: 30px

.grey

	color: #a29d9d

.guideh1

	background-color: #fff
	padding: 1em

.headline-user-box

	display: inline-block
	width: 640px

.highlighted

	font-size: 2.5em

.image-exclamation

	height: 30px
	margin-bottom: 1em

.image-gray-overlay

	background: rgba(39,62,84,0.82)
	height: 100%
	overflow: hidden
	position: absolute
	z-index: 2

.image-width-40-percent

	width: 40%

.large-margin-bottom

	margin-bottom: 4em

.lock

	background: url("../images/lock-icon.svg") no-repeat left
	margin-top: 1em
	padding-left: 1em

.margin-bottom-10-em

	margin-bottom: 10em !important

.margin-top-4-em

	margin-top: 4em !important

.menu

	background-color: #fff
	bottom: 0
	grid-gap: .5em
	grid-template-rows: auto
	height: 100%
	position: fixed
	top: 0
	transition: width 1.5s
	width: 0
	z-index: 1000

.menu a

	background-color: #f5f7fa
	border: 1px solid #ddd !important
	border-bottom-left-radius: 0
	border-bottom-right-radius: 25px
	border-top-left-radius: 0
	border-top-right-radius: 25px
	color: #4a4a4a
	display: none
	margin: auto
	margin-left: 2em
	margin-right: auto
	padding: .5em
	padding-left: 1em
	position: relative
	width: 60%

.menu a:hover

	background-color: #fff
	color: #005ea6
	font-weight: bold
	text-decoration: none

.menu div

	background-color: #7B8723
	display: none
	height: 3px
	margin: 6px 0
	width: 30px

.move-left

	position: relative
	right: 1em

.move-right

	left: 1em
	position: relative

.numbers

	background-color: lightblue
	border-radius: 50%
	color: #fff
	float: left
	font-size: 2em
	height: 1.3em
	margin-bottom: 1em
	padding: 4px
	text-align: center
	vertical-align: middle
	width: 1.3em

.numbersh1

	font-weight: 100

.one-em-font, #financing-help

	font-size: 1em

.playbtn

	height: auto
	left: 42%
	position: absolute
	top: 30%
	width: 5em

.playbtn:hover

	cursor: pointer

.playbtn-wrapper

	height: fit-content
	position: relative
	width: fit-content

.price-options-grid input

	margin-left: .5em

.price-options-grid input, .price-options-grid p

	padding: 1em
	text-align: center

.price-options-grid label

	text-align: center

.price-options-grid p

	grid-column-start: 2

.privacy #panel a

	color: #005ea6
	text-decoration: underline

.privacy #panel ul li, .privacy #panel p

	line-height: 200%

.privacy p

	max-width: 100%

.productsgif

	height: auto
	width: 800px

.profile-heading

	font-size: 2em

.profile-heading, #subs-btns, .guideh1

	margin-bottom: 2em
	margin-top: 2em

.recommended

	background-color: #fff
	border: 4px solid #F2835E !important
	position: relative

.recommendedh2

	background-color: #F2835E
	color: #fff

.right-align

	text-align: right

.sales-icon

	height: 120px
	width: 120px

.search

	background-color: #f5f5f5
	border: 1px solid #f5f7fa
	border-radius: 5px
	height: 20px
	outline: 0
	padding: 2px 23px 2px 30px
	width: 100%

.search:hover, .search:focus

	background-color: white
	border: 1.5px solid #005ea6

.search-icon

	left: 8px
	position: absolute
	top: 6px
	width: 14px

.searchresult img

	border-radius: 9999px
	height: 80px
	margin-right: 1em

.search-wrapper

	display: grid
	grid-template-columns: 36% auto
	min-width: 100px
	position: relative

.secinner

	height: 40%
	margin-bottom: auto
	margin-top: auto
	padding: 1em

.secinner h1

	margin-top: 0

.section

	display: grid
	grid-gap: 1em 1em
	grid-template-rows: auto auto
	height: auto
	margin-bottom: 0px
	margin-left: auto
	margin-right: auto
	margin-top: 0px
	overflow-y: hidden
	padding-bottom: 2em
	width: 60%

.section h3

	font-weight: bold

.section iframe, .section img

	height: 100%
	margin-bottom: 5em
	margin-top: 5em
	width: 100%

.section-inner-grid

	display: grid
	grid-gap: 5em
	grid-template-columns: 45% auto

.showAddress:hover .address

	display: block

.slider

	background-color: #ccc
	bottom: 0
	cursor: pointer
	left: 0
	position: absolute
	right: 0
	top: 0
	transition: .4s
	webkit-transition: .4s

.slider.round

	border-radius: 34px
	height: 1.2em
	width: 2em

.slider.round:before

	border-radius: 50%

.slider:before

	background-color: white
	bottom: 4px
	content: ""
	height: 13px
	left: 4px
	position: absolute
	transition: .4s
	webkit-transition: .4s
	width: 13px

.switch

	display: inline-block
	height: 21px
	position: absolute
	right: 0
	width: 30px

.switch input

	height: 0
	opacity: 0
	width: 0

.switches

	padding: 1em

.switches li

	display: grid
	grid-template-columns: 50% 50%
	padding-bottom: 4em
	position: relative

.text-heading-label

	color: #005ea6
	position: relative
	top: 2em

.three-col-grid, .price-options-grid

	background-color: #fff
	display: grid
	grid-gap: 1em
	grid-template-columns: auto auto auto
	margin: 2em
	margin: auto

.three-em-line-height

	line-height: 3em

.tip

	padding: 1em

.underline

	text-decoration: underline

.vertical-align

	margin-bottom: auto
	margin-top: auto

@keyframes fadeInOpacity

	0%
	
		opacity: 0
	
	100%
	
		opacity: 1
	

@keyframes fadeOutOpacity

	0%
	
		opacity: 0
	
	100%
	
		opacity: 1
	

@media only screen and (max-width: 1320px)

	#box #masthead
	
		display: block
	
	#container
	
		background-color: #fff
		padding: 1em
	
	#guide
	
		display: block
	
	#headline
	
		grid-row-end: 3
		grid-row-start: 3
		padding-left: 0 !important
		position: static !important
		top: 8em !important
	
	#headline
	
		grid-column-end: 1
		grid-column-start: 1
		grid-row-end: 1
		grid-row-start: 1
	
	#headline h1, #pitch
	
		width: auto
	
	#home #mobile-signin
	
		display: none
	
	#masthead
	
		display: grid
		grid-template-columns: 50% 50%
		height: 50em
		overflow-y: hidden
	
	#masthead div
	
		grid-column-end: 2
		grid-column-start: 2
	
	#masthead-image
	
		background: url(../images/altwelcomeimg.svg) no-repeat right 5em !important
		height: 100%
		width: 95%
	
	#masthead-image-commission
	
		height: 100%
		width: 95%
	
	#masthead-image-plus
	
		background: url(../images/ballons.svg) no-repeat right 5em !important
		height: 100%
		width: 95%
	
	#masthead-image-products
	
		background: url(../images/products.svg) no-repeat right 5em !important
		height: 100%
		width: 95%
	
	#mobile-signin
	
		background-color: #f5f7fa
		bottom: 0
		display: block
		left: 0
		padding-bottom: 2em
		padding-top: 2em
		position: fixed
		width: 100%
		z-index: 1000
	
	#mobile-signin a
	
		background: url("../images/googleg.png") no-repeat
		line-height: inherit !important
		padding-left: .5em
		vertical-align: middle
		width: 11em
	
	#module, #module form
	
		font-size: inherit
		padding: 0
		width: auto
	
	#panel a
	
		padding: 0
	
	#signin
	
		display: none
	
	#testimonials
	
		display: block
		width: auto
	
	#testimonials img
	
		height: 100px
	
	#video-place-holder
	
		margin-top: 4em
		padding: 0
		width: 100%
	
	.answers
	
		padding-top: 0 !important
	
	.for-creators-only
	
		display: none
	
	.padding-bottom-none
	
		padding-bottom: 0 !important
	
	.section
	
		width: 100%
	
	.section img
	
		height: 300px
	
	.section img
	
		margin-bottom: 0
	
	header
	
		padding-left: 0
	
	header > *
	
		margin: 0
	

@media only screen and (max-width: 600px)

	#container
	
		display: block
	
	#headline
	
		grid-row-end: 3
		grid-row-start: 3
		padding-left: 0 !important
		position: static !important
		top: 8em !important
	
	#headline h1, #pitch
	
		max-width: 100% !important
		width: auto
	
	#home main
	
		display: block
		padding: 0
	
	#masthead
	
		display: block !important
		height: 80em
	
	.section
	
		width: 100%
	
	.section img
	
		grid-row-end: 1
		grid-row-start: 1
	
	.section-inner-grid, .alt-section-inner-grid
	
		grid-gap: 1em
		grid-template-columns: auto
		grid-template-rows: auto auto
	
	footer
	
		padding-left: 0
		padding-right: 0
	
	p
	
		max-width: 100%
	

@media only screen and (max-width: 768px)

	#current-user
	
		padding: 0
		position: relative
		top: 0
	
	#embed-form
	
		height: 200px
		padding: 0
		width: 100%
	
	#getlabels
	
		background-color: #005ea6
		color: #fff !important
		left: 0
		left: -9.5em !important
	
	#logo
	
		bottom: .5em
		position: relative
	
	#m-content
	
		width: 95%
	
	#subs-btns
	
		display: block
	
	#subs-btns button
	
		margin-bottom: 2em !important
	
	.tip
	
		margin-bottom: 4em
		padding: 0
	
	fieldset
	
		padding: 0
		width: 100%
	
	input, select, button, .button, textarea
	
		width: 100% !important
	

a

	color: inherit
	text-decoration: none

a:active

	color: blue

a:hover

	text-decoration: underline

body

	background-color: #f5f7fa
	color: #4a4a4a
	font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif
	font-size: 13.4px
	font-weight: 100 !important
	height: auto
	margin: 0
	min-height: 97%
	overflow-x: hidden

fieldset

	border: none
	margin-bottom: 1em
	padding: 1em

footer

	background-color: #f5f7fa
	border-top: 1px solid #fff
	display: grid
	margin: 0 auto
	padding-bottom: 5em
	padding-top: 10em
	width: 100%

form

	font-size: 1em

h4

	line-height: 1.5em
	width: 25em

header

	background-color: #fff
	display: grid
	grid-gap: 1em
	grid-row-end: 2
	grid-row-start: 2
	grid-template-columns: 3em 6em auto
	height: 50px
	padding-left: 2em
	position: relative
	width: 100%
	z-index: 1000

header > *

	margin: auto

header a

	text-decoration: none

input:checked + .slider

	background-color: #2196F3

input:checked + .slider:before

	ms-transform: translateX(26px)
	transform: translateX(8px)
	webkit-transform: translateX(26px)

input:disabled

	background-color: #f4f4f4 !important
	color: #f4f4f4 !important

input:focus + .slider

	box-shadow: 0 0 1px #2196F3

input[type="number"], input[type="email"], select, textarea, input[type="text"], input[type="url"]

	background-color: #fff
	border: 1px solid #eee
	border-radius: .5em

input[type="number"], input[type="email"], select, textarea, input[type="text"], input[type="url"]

	border: 1px solid #1d1d1d
	clear: both
	color: #1b1b1b
	float: left
	margin-bottom: 1em
	margin-top: 1em
	padding: .6em
	width: 25em

input[type="submit"], .button, button

	background-color: #005ea6
	border: 1px solid darkblue
	border-radius: 25px
	box-sizing: border-box
	color: #ffffff
	cursor: pointer
	font-family: "Open Sans"
	font-size: inherit !important
	font-weight: bold
	height: 3em
	letter-spacing: 1px
	margin-bottom: 1em
	outline: none
	padding: .8em 1.5em .8em 1.5em
	width: 11em

input[type="submit"]:active, .button:active, button:active

	background: #005ea6
	color: #fff

input[type="submit"]:hover, .button:hover, button:active:hover

	background: #0c8dc4

label

	padding: .6em

label, input[type="submit"]

	clear: both
	float: left

nav

	display: grid
	grid-column-start: 3
	grid-gap: 2em
	grid-template-columns: 90px 90px auto
	position: relative
	width: 100%

nav a:hover

	text-decoration: underline !important

option[value=""][disabled]

	display: none

p

	max-width: 30em

padding-top-6-em

	padding-top: 6em

select:required:invalid

	color: gray

table

	border-collapse: collapse

td h2

	position: relative

textarea

	font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif

th, td

	border: 1px solid #ddd
	padding: 1em

ul li

	padding-bottom: .5em

ul, p

	line-height: 140%

ul, P, a

	font-size: 1.3em


