/* Extra small devices (phones, 476px and down) */
@media only screen and (max-width: 476px) {

  .hide{
    display: none !important;
  }

  .row .two-col-grid {
    grid-gap:1em;
    grid-template-rows: 50% 50%;
    grid-template-columns: none;
}



  .extra-large-font, h2 {
    font-size: 2.2em;
  }

  .cart-banner{
    grid-template-columns: none !important;
  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


  /* General */

  #index #masthead {
    height:1100px;
    background-size: 100%, 30%;
 
}

  .display-none {
    display: block;
  }
  .nudge-left{
 
    left: -1.5em;
}

header a{
  font-weight: bold;
}


  /* Header */

  #nav-header-right li {

    margin-left: 3em;

  }

  header {

    grid-template-columns: 95% 5%;

  }

  
  #m-subs,
  #m-log-in {
    display: block;
  }

  #cart-text,
  #header-subs,
  #menu-icon {
    display: none;
  }

  #mobile-signin {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-color: #f5f7fa;
    display: block;
    left: 0;
    display: none;
  }

  #mobile-signin a {
    padding-left: .5em;
    width: 11em;
    color: #005ea6;
    background: url("../images/googleg.png") no-repeat;
    line-height: inherit !important;
    vertical-align: middle;
  }

  #mobile-signin {
    display: block;
    display: none;
  }


  #signin {
    display: none;
  }

  /* Shop */
  .cart-banner{
    grid-template-columns: auto auto;
  
  }
  .products-stream {
    width: 100%;
    display: grid;
    grid-template-columns: none;

  }

  /* cart Main */

  .w300px {
    width: 150px;
  }

  .cart-item {

    grid-template-columns: none;
    grid-template-rows: auto auto auto auto;
    padding: 1em;
  }

  .form-cart-item-select {
    display: none;
  }

  #cart-main {
    display: block;
    margin: auto;
    padding-left:0;
    padding-right:0;

  }

  /* Index Container */

  .flip-right {
    grid-column-start: auto;
  }

  .flip-left {
    grid-column-start: auto;
    grid-row-start: auto;
  }

  .pricing-panel-prepaid,
  .pricing-panel {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
    grid-gap: 2em;
    place-items: center;
  }

  .div-limited-editions-panel {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }

  .new-section-inner-grid {
    grid-template-columns: none;
    text-align: center;
    align-items: center;

  }

  .wide {

    background-image: none;
  }

  #creators-bar,
  #boxes-panel {
    width: 80%;
  }

  .creator-ego {
    //width: 75px !important;
  }

  .hide {
    display: none;
  }

  .pricing-panel-prepaid,
  section,
  .pricing,
  .module,
  .pricing-panel {
    width: 100%;
  }

  .pricing-panel-prepaid,
  .pricing-panel {
    width: 80%;
    margin: auto;
  }



  #left-aside {
    display: none;
  }

  #home main {
    display: block;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  /* General */

  .display-none {
    display: block;
  }

  /* Shop */
  
  .products-stream {
    width: 100%;
    display: grid;
    grid-template-columns: none;

  }
  .cart-banner{
    grid-template-columns: auto auto;
  
  }

  .form-cart-item-select {
    display: none;
  }

  .cart-item {
    grid-template-columns: none;
    grid-template-rows: auto auto auto auto;
    padding: 1em;
  }

  .new-section-inner-grid {
    grid-template-columns: auto 72% auto;
    //grid-template-columns: 50% 50%;
    //grid-template-columns: auto;

  }

  #cart-main {
    display: block !important;
    margin: auto;

  }

  .flip-right {
    grid-column-start: auto;
  }

  .flip-left {
    grid-column-start: auto;
    grid-row-start: auto;
  }
.reviews-section,
  #creators-bar,
  #boxes-panel {
    width: 80%;
  }
.maxw1035{
  
}
  .creator-ego {
    width: 75px !important;
  }

  .pricing-panel-prepaid,
  .pricing-panel {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
    grid-gap: 2em;
    place-items: center;
  }

  .div-limited-editions-panel {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }

  /* .new-section-inner-grid {
    grid-template-columns: 50% 50%;

  } */

  .hide {
   // display: none;
  }

  section,
  .pricing,
  .module,
  .pricing-panel-prepaid,
  .pricing-panel {
    width: 100%;
  }

  .pricing-panel-prepaid,
  .pricing-panel {
    width: 80%;
    margin: auto;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .cart-banner img {
    max-width: 200px;
}
  .call-out {
    width: auto;
  }

  /* Shop */

  .cart-banner{

    grid-template-columns: auto auto auto;

  }
  .products-stream {
    width: 100%;
    display: grid;
    grid-gap:2%;
  grid-template-columns: 32% 32% 32%;

  }

  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .new-section-inner-grid {
    grid-template-columns: auto 48% auto;
  

  }

  .cart-item {
    display: grid;
    grid-template-columns: 50px 300px auto 50px;
    padding-bottom: 1em;
    padding-top: 1em;

  }

  .form-cart-item-select {
    display: block;
  }

  .cart-items {
    display: grid;
    grid-template-columns: auto auto;
    width: 55%;
    align-items: center;
  }

  #cart-main {
    display: grid;
    margin: auto;

  }

  .div-limited-editions-panel {
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
  }

  .flip-right {
    grid-column-start: 2;
  }

  .flip-left {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .pricing-panel {
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    width: 95%;
  }

  .pricing-panel-prepaid {
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    width: 80%;
  }

  .pricing-panel-prepaid,
  .pricing-panel {

    margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1000px and up) */
@media only screen and (min-width: 1200px) {


  .new-section-inner-grid {
    grid-template-columns: auto 35% auto;
  

  }


  /* Shop */
  .cart-banner {
   grid-template-columns: 24% 24% 24% 24%;

  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Shop */
  .cart-banner,
  .products-stream {
    width: 75%;

  }

}