@charset "UTF-8";
/* ----- MOBILE----------------------

NOTE:
<link rel="stylesheet" media="screen and (min-width: 200px) and (max-width: 1591px)" href="../css/mobile.css?v=1.0"/>

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops

1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV


*/

	#partner-apply{
		display:none;
	}
.hack-br-1{
  display: none;
}
  @media only screen and (max-width:1810px) {
    #box-masthead-inner-wrapper {
      width: 80%;
    }
  }
  @media only screen and (max-width:800px) {
    #home main {
      display: block;
    }
    main, #masthead{
      width:100%;
    }
  }

  @media only screen and (max-width:1595px) {
    main{
      margin-top: 25em;
   
    }
    main, #masthead{
      width:80%;
      margin-left:auto;
      margin-right: auto;
    }
    #about main{
      margin-top: 4em !important;
    }
    .overide{
      margin-top: 0;
    }
  }
@media only screen and (max-width:1591px) {
  #m-content h2 {
    width: 89%;
  }
  header{
    padding-left:0;
  }

#partner-masthead-image {
  width: 95%;
    height: 100%;
    background: url(../images/fly-with-bg.svg) 50% 5em no-repeat; 
    display:block;
}
#partner .two-col-grid{
  background: none;
}
#how-it-works{
  width:90%;
}

#module{
  width:min-content;
  padding:0;
}
	#form-partner-apply-wrapper{
		display:none;
	}


	.two-col-grid{
		display:block;
	}
	#headline{
		max-width:90%;
		margin:auto;
		top: 14em;
	}
	#masthead-video-wrapper{
		    width: 70%;
    margin: auto;
	}
  .hack-br-2 {
    display: none !important;
  }
  #box-masthead-inner-wrapper {
    display: block;
    background-image: url(../images/alt-blue-bg.svg);
    padding:0 !important;
    width:60%;
  }
  #box-headline {
    width: 100%;
    text-align: center;
    
  }
  
  #box #masthead {
    display: block;
   
  }
  #box main{
    margin-top:4em;
  }
 
  #create-box {
    left: -7em;
  }
  #box-masthead-inner-wrapper {
    width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
  }
  #box-headline {
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    width: 100%;
  }
  #box .break {
    display: inline;
  }
 #page-name {
    font-size: inherit !important;
  }
  .ginormous{
    font-size: 4em !important;
  }
  #box-headline h1 {
    grid-row-start: 1;
    font-size: 4em;
    margin-bottom: 0.2em;
    text-align: center;
	  width:auto !important;
    margin-top:0 !important;
  }
  #box-headline p {
    display: inline-block;
    margin-right: 4em;
    margin-bottom: 2em;
    text-align: center;
  }
  #main {
    padding-left: 3em;
  }
  #box-headline div {
    grid-row-start: 3;
    margin: auto;
    padding: 2em;
  }
  #box-headline .sub-btns {
    width: 50%;
    margin: auto;
  }
  #video-place-holder {
    width: 100%;
    padding: 0;
    margin-top: 4em;
  }
 
  .pointer {
    display: inline-block;
    font-size: inherit;
    height: 4em;
    position: relative;
    background-color: transparent;
    text-align: left;
    vertical-align: middle;
    margin: 0.6em;
  }
  .pointer:after {
    display: none;
  }
  .pointer:before {
    display: none;
  }

  .for-creators-only {
    display: none;
  }
  .padding-bottom-none {
    padding-bottom: 0 !important;
  }
  .answers {
    padding-top: 0 !important;
  }

  #mobile-signin {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-color: #f5f7fa;
    display: block;
    left: 0;
  }
  #guide {
    display: block;
  }
  #home #mobile-signin {
    display: none;
  }
  .section img {
    margin-bottom: 0;
  }
 
  #mobile-signin a {
    padding-left: .5em;
    width: 11em;
    color: #005ea6;
    background: url("../images/googleg.png") no-repeat;
    line-height: inherit !important;
    vertical-align: middle;
  }
  .section {
    width: 60%;
  }
  #container {
    padding: 1em;
   
  }

  #headline h1, #pitch {
    width: auto;
  }
  #headline {
  /*  top: 8em !important;
   
    grid-row-start: 3;
    grid-row-end: 3;
  */
  padding-left: 0 !important;
  position: static !important;
	text-align: center;
  }
  #testimonials {
    display: block;
    width: auto;
  }
  #testimonials img {
    height: 100px;
  }
  .section img {
    height: 300px;
  }
 /*#box #masthead {
    display: block;
    overflow-y: hidden;
  }*/
  #box #masthead {
    display: block;
    height:fit-content;
  }
  /*  #headline {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }*/
  #masthead-image {
    width: 95%;
    height: 100%;
    background: url("../images/marilyn.svg") no-repeat 50% 5em;
    background-size: contain;
  }

  #masthead-image-construction{
    width: 95%;
    height: 100%;
    background: url("../images/alt-makeitrain.svg") no-repeat right 5em !important;
  }
  #partner #masthead{
    height:35em;
  }
 
  #create-box fieldset {
    width:fit-content;
   
  }
}

  .hide{
    display:none;
  }
  #box-masthead-inner-wrapper {
    width:100% !important;
  }
  #signin {
    display: none;
  }
  #getlabels {
    left: -9.5em !important;
    left: 0;
    color: #fff !important;
    background-color: #005ea6;
  }
  #current-user {
    display:none;
  }
  .section{
    width:auto;
  }
  #masthead-video-wrapper{
    width:auto;
  }
  .tip {
    padding: 0;
    margin-bottom: 4em;
  }
 
  #subs-btns {
    display: block;
  }
  #subs-btns button {
    margin-bottom: 2em !important;
  }
  fieldset {
    padding: 0;
    width: 100%;
  }
  #embed-form {
    width: 100%;
    height: 200px;
    padding: 0;
  }
}
/* Extra small devices (phones, 684px and down) */
@media only screen and (max-width: 694px) {
  #partner .two-col-grid {
    background: url(../images/mobile-fall-5.svg) -5em -5em no-repeat;
}


}
/* Extra small devices (phones, 674px and down) */
@media only screen and (max-width: 674px) {

  #partner .two-col-grid {
    background: url(../images/mobile-fall-5.svg) -8em -5em no-repeat;
}

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 668px) {
  .margin-bottom-10-em {
    margin-bottom: 5em !important; 
}
main, #masthead{
  width:100%;
}
#m-content h2 {
  width: auto;
  line-height: 1em;
}
#m-content #checkout-address-form {
  width: fit-content;
}
  #how-it-works{
    width:90%;
    display:block !important;
  }
  #how-it-works div{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
    width:fit-content;
  }
  legend{
    text-align: center;
    margin-bottom:2em;
    text-transform: uppercase;
  }
  #box-headline p{
    display:block;
  }
#panel{
  padding:0;
  box-shadow:none;
}
  .break {
    display: block;
  }
  #box .highlighted{
    display:block;
    margin-bottom:.5em;
  }
  #box #masthead{
    margin-bottom: 5em;
  }
  #tabs-wrapper a,
#tabs-wrapper {
  display: block;
}
  footer{
    padding:1em;
  }
  #footer-content-wrapper {
     margin-top: 2em;
}
  main{
    margin-top: 45em;
  }
 
  #partner .two-col-grid {
    
    background: url(../images/fall-5.svg) no-repeat 80% 5em;
}
  #masthead-image {
    background: url(../images/marilyn.svg) no-repeat 80% 5em;
    height: inherit;
    width: inherit;
}
  #partner .two-col-grid {
    background: none;
}

  #box-headline div {
    padding:0;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #masthead{
    margin-top:6em;
    height:65em;
  }
  #box-masthead-inner-wrapper{
    margin-top:6em;
  }

	#current-user{
    display:none;
  }
  #home main {
    display: block;
    padding: 0;

  }
  #create-box fieldset {
    border: none;
    margin-bottom: 3em;
    padding: 0;
}
#box-headline p{
  margin-right:0;
}
#box-headline .sub-btns{
  width:fit-content;
}
#share-box{
  display:none;
}
  footer {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #container {
    display: block;
	 
  }
  p {
    max-width: 100%;
  }
  #masthead {
    height: 70em;
    display: block !important;
  }
  .section-inner-grid, .alt-section-inner-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 1em;
  }
  .section {
    width: 100%;
  }
  .section img {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #headline h1, #pitch {
    width: auto;
    max-width: 100% !important;
    position: static;
  }
  #headline {
    top: 8em !important;
    padding-left: 0 !important;
    grid-row-start: 3;
    grid-row-end: 3;
    position: static !important;
    width:80%;
  }
  #box-headline{
    line-height: 4em;
    position: static;
  }
}