/*
STYLE

Fair skin: #ffd5d8
Brown skin: #a0616a

*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  button {
    background-color: #0c8dc4;
    border: 1px solid #087FB0;
    border-radius: 25px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
    height: 52PX;
    letter-spacing: 1px;
    margin-bottom: 1em;
    margin-right: 1em;
    outline: none;
    padding: .8em 1.5em .8em 1.5em;

  }
}

.learn-more-index-wrapper {
  max-width: 580px;
  margin: auto;
  width: 100%;
}

.margin-right-1-em {
  margin-right: 1em;
}

.border-yellow {
  border: 3px solid #fcec63;
}

@import url('forms.css');

#alt-masthead-image {
  display: none;
}

.text-cart-count {
  position: relative;
  right: 1.2em;
  bottom: 1.4em;
}

.fit-content {
  max-width: fit-content;

}

#product-categories {
  grid-gap: 1em;
  width: fit-content;
  margin-top: 2em;
}

#image-square-logo {
  width: 100px;
  height: auto;
}

#logo-text {
  font-family: Anton;
  font-size: 3em;
}

.text-yellow {
  color: yellow;
}


#box .sub-btns {
  margin-right: 2.5em;
}

#unread-count {
  color: #B12704;
}

#box-headline h1 {
  width: 90%;
}

.image-products-thumbs {
  max-width: 350px;
  overflow: hidden;
  height: 200px;
  position: relative;
  right: 1.5em;

}

.border {
  border: 2px solid #009688;
}

.slideshow-main-image * {
  max-width: 600px;
  margin-bottom: 0 !important;
}

.slideshow-navigation {
  display: grid;
  grid-template-columns: auto 70% auto;
  align-items: center;
  grid-column-start: 2;
  grid-gap: .5em;

}

.ul-products-thumbs {
  width: 1600px;
}

.slideshow-navigation li {
  display: inline;
  float: left;
}

.slideshow-navigation li img {
  width: 70px !important;
  height: auto !important;
  margin: 0 !important;
}

.slideshow-navigation img:hover {
  cursor: pointer;
}

.filter-grayscale {
  filter: grayscale(7);
}

.checkout main {
  margin-top: 5em !important;
}

.checkout main,
#home main {
  display: grid;
  grid-template-columns: auto auto auto;

}

.border-radius {
  border-radius: 999px;
}

#iframe-square-payment {
  width: 100%;
  height: 600px;
  border: none;
  overflow: hidden;
}

#alt-home-main .section iframe, #alt-home-main .secinner {
  height: 310px;
  margin-bottom: auto;
  margin-top: 0;
}

#alt-home-main:last-child {
  margin-bottom: 10em;
}



#bar {
  background-color: #009688;
  color: white;
  height: 5px;
  line-height: 30px;
  text-align: center;
  width: 1%;
}

#beta {
  color: #797979;
  float: right;
  font-size: .5em;
  padding: .2em;
  text-transform: lowercase;
  position: relative;
  top: -.5em;
}

#box .for-creators-only {
  visibility: hidden;
}

.break {
  display: none;
}

.hack-br-1 {
  display: block;
}

.asides {
  height: auto;
  margin: auto;
  padding-top: 3%;
  text-align: center;
  max-width: 650px;
  width: 100%;
}

#buyers-guide {
  padding-left: 13em;
  padding-right: 13em;
}

#centered-texts {
  margin-left: 9.2em;
}

#changeprice {
  display: grid;
  grid-template-columns: 8em auto;
}

#changeprice label {
  margin: auto;
}

#charitable {
  color: #727272;
  display: grid;
  grid-gap: .2em;
  grid-template-columns: auto auto auto;
  position: relative;
  top: -4em;
}

#charitable img {
  height: auto;
  width: 90px;
}

.close-dialog,
#close, #m-close {
  font-weight: bold;
}

.close-dialog:hover,
#close:hover, #m-close:hover, #m-close:focus {
  color: #B12704;
  cursor: pointer;
  text-decoration: none;
}

.close-dialog {
  float: right;
  clear: both;
  text-transform: uppercase;
}

/* h1, h2, h3, h4 {
  font-family: 'Open Sans';
} */
dialog{
  display: none;
}
dialog p {
  max-width: 400px;
  min-width: 200px;
  margin: auto;
}

#text-step0-label {
  grid-column-start: 1;
  grid-row-start: 2;
}

#text-step1-label {
  grid-column-start: 2;
  grid-row-start: 2;
}

#text-step2-label {
  grid-column-start: 3;
  grid-row-start: 2;
}

#span-step0-circle {
  grid-column-start: 1;
  grid-row-start: 1;
}

#span-step1-circle {
  grid-column-start: 2;
  grid-row-start: 1;
}

#span-step2-circle {
  grid-column-start: 3;
  grid-row-start: 1;
}

#steps-left {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin: auto;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

#create-box h3 {
  font-size: 2em !important;
}

.step-completed {
  background-color: green;
  -ms-transform: scaleX(-1) rotate(-35deg);
  /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg);
  /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg);
  color: #fff !important;
  padding: 0.2em;
}

.step-incomplete {
  background-color: #fff;
  border: 3px solid #0c8dc4;
}

.step-current {
  background-color: #0c8dc4;
  border: 3px solid #0c8dc4;
  color: #fff !important;
}

.material-icons {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#steps-line {
  width: 69%;
  height: 3px;
  margin: auto;
  position: relative;
  top: 2.8em;
  background-color: #0c8dc4;
}

#remove-black-bar {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

#remove-black-bar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 98%;
  background-color: #fff;
}

.step {
  height: 30px;
  width: 30px;
  border-radius: 9999px;
  text-align: center;
  color: green;
  font-size: 1.3em;
  margin: auto;
  position: relative;
  z-index: 1;
}

#m-close {
  float: right;
}

#m-close, #m-close img {
  width: 25px;
  height: 25px;
}

#contact-image {
  height: auto;
  width: 50%;
}

#container {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: auto 70px auto auto;
  position: relative;
  width:100%;
}

#container {
  background-color: #8bc34a0a;
}

/*
#current-user {

  grid-gap: 7em;
  display: grid;
  grid-template-columns: 3em;
  line-height: inherit !important;
  padding-left: 1.5em;
  position: absolute;
  right: 2em;
  top: 1em;
  color: #0c8dc4;
}*/


.message-preview {
  font-size: .8em;
  color: #9c9a9a;
}

.recipients-grid {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: auto;


}

.position-relative {
  position: relative;
}

#left-aside h2 {
  position: relative;
  top: 2em;
  text-shadow: 20px 20px 60px #0c8dc41a;
}

.anchor-sub-menu {
  position: relative;
  width: 100%;
  margin: auto;
  display: block;
}

.nav-grid {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-grid p {
  grid-column-start: 2;
}


.image-round {
  border-radius: 9999px;
  max-width: 70px;
}


#footer-content-wrapper {
  margin: auto;
  text-align: center;
}

#grid-custom-url {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  float: left;
}

#grid-custom-url * {
  margin: auto;
  width: fit-content;
}

#footer-content-wrapper a {
  color: #343434;
  font-size: 1em;
  padding: .5em;
}

#footer-logo {
  margin-bottom: .5em;
  margin: auto;
}

#checkout-logo {
  top: 0;
}

#checkout-logo,
#footer-logo, #logo {
  height: 30px;
  width: auto;
}

#logo:hover {
  text-decoration: none;
}

#guide {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

#guideh1 {
  padding-bottom: 2em;
  padding-top: 2em;

}


#headline {
  margin-left: clamp(7%, 10%, 12%);
  position: absolute;
  top: 9em;
  z-index: 1;
}

#headline-h1 {
  max-width: 900px;
  width: 100%;
}


#iframe-example-label {
  width: auto;
  height: 500px;
  max-width: 707px;

}

.image-cta {
  width: 50%;
  max-width: 707px;
  min-width: 290px;
}



.float-left {
  float: left;
  clear: both;
}

.button {
  font-size: 1em;
  /* -moz-appearance: button; */
  /* appearance: button; Makes buttons grey in Safari*/
  text-decoration: none;
  vertical-align: middle;
  line-height: 2em;
}

.w100per {
  width: 100%;
}

.maxw150px {
  max-width: 150px;
}

.fix-to-bottom {
  position: fixed;
  bottom: 0;
  background-color: #fff;

}

.maxw65per {
  max-width: 65%;
}

.maxw1036,
.maxw1035 {
  max-width: 1035px;
  width: 100%;

}

#account-form {

  width: 100%;
}

#card-button {
  background-image: url("../images/lock.png");
  background-repeat: no-repeat;
  background-position: left !important;
  background-position: 30% !important;
}

#home input[type="radio"] {
  clear: both;
  float: left;
  margin-bottom: .5em;
  margin-right: 1em;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}


#cart-main {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 75% 25% !important;
  max-width: 1235px;
  margin: auto;
  margin-top: 2em;
  min-height: 70em;
  margin-bottom: 2em;
  padding: 2em;
  width: 100%;

}

#home-videos-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}


#how-it-works {

  grid-template-columns: 33% 33% 33%;
}



#image-video-frame {
  position: absolute;
  left: 0;
  display: none;
}

#image-guide-icon {
  background-image: url("../images/guide-icon.svg");
  padding-left: 2.5em;
}

#image-money-icon {
  background-image: url("../images/growth.svg");
  padding-left: 2.5em;
}

#image-next-arrow {
  transform: rotate(90deg);
  margin-left: 1em;
}

#image-previous-arrow {
  transform: rotate(-90deg);
  margin-right: 1em;
}

.boxes .section-inner-grid {
  grid-gap: 1em;
}

#image-next-arrow, #image-previous-arrow {

  width: 20px !important;
  border: none !important;
  height: auto !important;
  position: relative;
  top: -3em;

}

#image-next-arrow:hover, #image-previous-arrow:hover {
  cursor: pointer;
}

#video-place-holder,
#image-youtube-thumb {
  border-radius: .5em;
  background: #f5f7fa;
  box-shadow: 2px 4px 12px #0c8dc41a;
}

.plans-pricing-header {
  padding: .5em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: -2em;
  border-top: 30px solid #ea474b;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  max-width: 200px;

}


.pricing * {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.pricing h2 {
  margin-top: 0;
}

.pricing-panel {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
}

.pricing-panel-prepaid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  margin: auto;

}

.parens {
  font-weight: normal;
  font-size: 16px;
  color: #1d1d1d;
}

.pricing {
  width: 250px;
  height: 300px;
  border: 3px solid rgb(241, 241, 241);
  padding: 1em;
  background-color: #ffffff;
}

/* #div-banner-blank {
  max-width: 1036px;
  height: 275px;
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
} */

/* #banner {

  height: 250px;
  background-image: url("../images/about-bg.png");
  background-repeat: no-repeat;

} */

.max-width-1035 {
  width: 100%;
  max-width: 1035px;
}

#banner-slogan {
  position: relative;
  top: 0.4em;
  height: 150px;
  margin: auto;

}

#banner-slogan span {
  color: green;
}

/* .image-youtube-thumb {
  width: 100%;
  border-radius: .5em;
  background: #f5f7fa;
  box-shadow: 2px 4px 12px #0c8dc41a;
} */

#index main {
  display: grid;
  grid-template-rows: auto;
}

/* #invite-creator-ui {
  margin: 0 auto;
} */

#m-menu,
#invites-menu {
  display: none;
}

#left-aside {
  grid-column-start: 1;
  display: grid;
  grid-template-rows: 10em 5em 5em 5em;
  grid-gap: 2em;

}

.w300 {
  width: 90%;
  max-width: 300px;
}

.w600 {
  width: 100%;
  max-width: 600px;

}



#logo {
  display: inline;
  margin: auto;
  position: relative;
  left: 2%;
  bottom: 5px;
}


#masthead {
  grid-row-end: 3;
  grid-row-start: 3;
  height: 70em;
  width: 100%;
}

.image-how-it-works {
  max-width: 200px;
}

.neon-green-bg {
  background-color: #d3fb95;
}

#img-gifts,
#img-reminder,
#img-shopping {
  max-height: 124px;
  width: auto;
  display: block;
  margin: auto;
}

#index #masthead {
  background-color: #d3fb95;
  background-image: url('../images/new-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 56em;

}


#box #masthead {
  height: 51em;
}

#sub-nav {
  display: none;
}

#masthead, main {
  opacity: 0;
}


.img-carrier {
  max-width: 75px;
}

#masthead-video-wrapper img {
  max-width: 100%;
}

.alt-three-col-grid {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  background-image: url(../images/high-five-2.svg);
  background-repeat: no-repeat;
  background-position-x: 5%;
}

.div-search-results-wrapper {
  display: grid;
  grid-template-columns: 30% auto;
}

.search-result-page-name {

  margin-left: 0 !important;
  font-weight: bold;

}


.loader {
  border: 6px solid green;
  border-top: 6px solid #fcec63;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 22em;
  right: 50%;
  z-index: 10003;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.black-font {
  color: inherit;
}

.icon {
  height: 25px;
  width: 25px;
}

#mobile-signin {
  display: none;
}

.module {
  margin: auto;

}

#m-shop,
#m-subs,
#cart-count,
#m-log-in {
  display: none;
}

#cart-count {
  color: #B12704;
  font-weight: bold;
}

#m-window {
  background-color: #f5f7fa;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#normal-p p {
  font-size: 1.2em;
}

#popup {
  position: fixed;
  top: 1em;
  margin: auto;
  z-index: 10003;
  width: 100%;
  max-width: 882px;
  min-height: 400px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  background-color: #fcec63;

}


.preorder-wrapper {
  width: fit-content;
  margin: auto;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

#m,
#dialog-feedback {
  position: fixed;
  right: 1%;
  bottom: 0;
  margin: 0;
  left: auto;
  z-index: 1;
  width: 100%;
  max-width: 482px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

#m {

  right: 0;
}

#dialog-feedback fieldset {

  border: none;
}

#dialog-feedback textarea {

  border: none;
  border-bottom: 4px solid #B12704;
  border-radius: 0;
}

#dialog-feedback #start label {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 1em;
  padding-left: 2em;
  padding-left: 2em;
  background-color: #eff5ef;
  margin-bottom: .5em;
}

#dialog-feedback #start label:hover {
  background-color: green;
  color: yellow;
  cursor: pointer;
}

.ten-col-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  width: 100%;
}

.ten-col-grid * {
  padding: .5%;
  border: 1px solid #8bc34a;
  margin-left: .5%;
  text-align: center;
}

.ten-col-grid *:hover {
  background-color: green;
  color: #fff;
  text-decoration: none;
}

#text-nps-scale {
  display: grid;
  grid-template-columns: auto 65% auto;
  margin-top: .5em;
}

#like label, #dislike label, #suggestion label {
  text-transform: uppercase;
  font-family: 'Concert One';
}

#nps {
  margin-bottom: 2em;
}

#nps, #like, #dislike, #suggestion {
  display: none;
}

#panel {
  height: fit-content;
  max-width: 1035px;
  width: 100%;
  margin: auto;
  border-radius: .5em;
  padding: 3%;
}

#m-content {
  margin-top: 0;
}



#panel h1 {
  font-weight: normal !important;
}



#pitch {
  bottom: 1em;
  font-size: 1.8em;
  position: relative;
  width: 15em;
}

.primary-color {
  color: green;
}


.image-user-icon,
#header-user-icon {
  border-radius: 9999px;
  height: 24px;

}

#img-promoter-ego {
  border-radius: 9999px;
  height: 48px;
  margin-top: 4em;
}

#profile-section {
  padding-top: 0 !important;
}

#progress {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 1%;
  z-index: 10002;
}

#recommended-list {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: auto;
}

#right-aside {
  grid-column-start: 3;
}

#nav-categories a {
  min-width: 150px;
  border-radius: 0;

}

#nav-categories {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2%;
}

#phone-1,
#cart {

  color: yellow !important;
}

#phone-2 {
  position: relative;
  color: yellow !important;
  display: block;

}

.maxw200px {
  max-width: 200px;
}

/* #signin {

  padding-left: 2em;
  width: 200px;
  position: relative;
} */

#sentiment-survey h1 {
  text-align: center;
  position: relative;
  top: 2em;
  font-family: "concert one";
}

#sentiment-survey {
  position: relative;
  top: 2.5em;
}

#sentiment-survey {
  width: 450px;
  height: 200px;
  padding: 1em;
  font-size: 1em;
  background-image: url("../images/alt-blue-bg.svg");
  box-shadow: 2px 4px 12px #0c8dc41a;
  color: #009688;
  position: fixed;
  bottom: 0;
  right: 0;
}

#sentiment-survey .material-icons {
  font-size: 3.3em !important;
}

#sresults {
  background-color: #f9f9f9;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  font-weight: normal;
  padding: 12px 16px;
  position: relative;
  top: 2.5em;
  visibility: hidden;
  width: 300px;
  z-index: 1;
}

#steps-counter {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  width: 100%;
}



#tabs-wrapper a {

  width: 14em;

}

.color-orange {
  color: orange;
}

#tabs-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  width: 35%;
}

#tracking-stream {
  display: grid;
}

#incoming-stream,
#tracking-stream {
  display: none;
}

#testimonials img {
  height: 200px;
}

#text-brand-name {
  font-family: "Concert One";
  text-transform: uppercase;
}

#text-current-step-number p {
  float: left;
}

#text-next-step-number p {
  float: right;
}

#video-place-holder {
  background-color: #fff;
  padding: 2em;
  width: 50%;
}

.text-edit-mode {
  position: relative;
  top: 5em;
}

#text-modes-switch {
  width: 30em;
  display: grid;
  grid-template-columns: 50% 50%;

}


#masthead-iframe-wrapper iframe {
  max-height: 414px;

}

#masthead-iframe-wrapper iframe,
#video-place-holder {
  width: 100%;
}

#video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  width:100%

}

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.about {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  padding: 5em;
  padding-left: 6.5em;
}

.bg-yellow {
  background-color: #fcec63 !important;
}
.bg-green {
  background-color: green !important;
}


.celebrate {
  background-image: url(../images/confetti-40.gif);
  background-repeat: repeat-x;
}

@keyframes alerts {
  0% {
    opacity: 1;
    position: fixed;
    top: -5em;
  }

  5% {
    opacity: 1;
    position: fixed;
    top: 1em;
  }

  100% {
    opacity: 0;
  }

}

/* SLIDE CART */

@keyframes slideInCart {

  0% {

    width: 300px;
  }

  100% {
    width: 0;

  }

}

.slideInCart {

  animation-name: slideInCart;
  animation-delay: 2s;
  animation-duration: 3s;

}

@keyframes slideOutCart {

  0% {

    width: 0;
    display: block;
  }

  100% {
    width: 300px;

  }

}

.slideOutCart {

  background: #fff;
  box-shadow: 2px 4px 12px #0c8dc41a;
  bottom: 0;
  display: grid;
  grid-gap: .5em;
  grid-template-rows: 6%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  z-index: 1001;
  animation-name: slideOutCart;
  animation-duration: 1s;
  width: 300px;
  padding: 2em;

}

.menu {
  display: none;
}

.cart_overlay_hide {
  visibility: hidden;
}

#cart-left-arrow {
  position: relative;
  left: -39px;
  top: 0;
  display: none;

}

.cart_overlay_show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // visibility: visible;
  opacity: 1;
  transition: all .25s ease-in;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.padding-2-per {
  padding: 2%;
}


.bg-color-yellow {
  background-color: #fcec63;
}

.cart-banner {
  width: 100% !important;
  background-color: #fff;
  border-radius: .5em;
  margin-bottom: 2em;
  padding: 1em;
  min-height: 200px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto;
}


.shop-item {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  width: 55%;
  margin: auto;

}

.cart-items {
  display: grid;
  grid-template-columns: 40% 59%;
  border-bottom: 1px solid #8bc34a;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  align-items: center;
  grid-gap: 3%;
  width: 100%;
}
.cart-image{
  max-width: 300px !important;
  width: 100%;
}

.delete-icon:hover {
  color: #B12704;
  cursor: pointer;
}

.red-tag {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0px 8px;
  height: 24px;
  line-height: 22px;
  background-color: #B12704;
  color: white;
  margin-bottom: 16px;
  margin-bottom: 0;
}


.stars-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto 75px;
  width: 200px;
}

.margin-bottom-2-em {
  margin-bottom: 2em;
}

.review-yellow {

  color: #FFC600 !important;
}

.stars-grid span {
  margin: auto;

}

#feedback {
  position: fixed;
  right: 1%;
  bottom: 0;
  margin-bottom: 0;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 50px;
}

.shop-item img {
  max-width: 600px;
  width: 100%;
}

.shop-item-details {
  max-width: 400px;
  width: 100%;
}

.display-none {
  display: none !important;
}

.display-none-unimportant {
  display: none;
}

.price-tag,
.product-name,
.add-to-cart {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  display: block;

}

.cart-banner img {
  max-width: 250px;
  width: 100%;
  height: 200px;
}

.cart-banner div {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;

}

.image-lg-product {
  width: 400px;
}

.products-stream img {
  width: 100%;
 max-height: 434px;
  max-width: 300px;

}

.subscriptions-stream {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.cart-banner,
.products-stream {
  width: 55%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.products-stream {
  max-width: 1035px;
  width: 100%;
  grid-gap: 2%;
  row-gap: 0;
  grid-template-columns: 32% 32% 32%;
}

#product-stream {
  grid-gap: 4%;
}


.cart-banner {
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.subscription-card {
  margin: 2%;
  max-width: 256px;

}

.padding-1-em {
  padding: 1em;
}

.cart-header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #8bc34a;
}

.form-cart-item-select {
  margin-right: auto;
  margin-left: auto;
}

.w300px {
  width: 300px !important;
}

.w100pr {
  width: 100%;
}

.cart-item-wrapper {
  display: grid;
  grid-template-rows: auto auto;
}

.cart-item-updater {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;

  align-items: baseline;
  grid-gap: 1.5em;

}

.cart-item {
  display: grid;
  grid-template-columns: 80px 300px auto 50px;
  grid-gap: 1em;
  border-bottom: 1px solid #8bc34a;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  align-items: center;
}

.cart-subtotal {
  float: right;
  font-weight: bold;
}

.font-size-3-em {
  font-size: 3em;
}

.card-white-bg {
  padding: 1em;
  background-color: #fff;
  margin-bottom: 2em;

}

.padding-zero {
  padding: 0 !important;
}

#flyout {
  height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em;
}

.alert,
.alert-info {
  padding: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  display: block;
  background: #f8f8c1;
  margin: auto;
  border: 1px solid gold;

}

.alert {
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 20px 20px 60px #d3d3a4;
  animation-name: alerts !important;
  animation-duration: 10s;
  position: fixed;
  top: 1em;
  opacity: 0;
  min-height: 50px;
  height: auto;
  z-index: 10000;
}


#image-error-page {
  width: 50%;
}

.alert .material-icons {
  color: #009688;
  position: relative;
  bottom: .2em;
}

.alt-section-inner-grid {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: auto 45%;
}

.answers {
  grid-template-columns: 50% 50%;
}

.answers img {
  height: 350px !important;
}

.blue {
  color: deepskyblue !important;
  display: block;
  text-decoration: underline !important;
}

.border-bottom {
  border-bottom: 1px solid #1d1d1d;
}

/*#exe-sub {
  background-image: url(../images/lock.png);
  background-repeat: no-repeat;
  background-position: left;
}*/

.no-float label {
  float: none !important;
}

.button:hover {
  text-decoration: none;
}

.buttonHolder {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.centered {
  display: block;
  text-align: center;
}

.centered-p {
  padding: 1em;
  width: 40em;
}



.center-text {
  text-align: center;
}

.clearbtn {
  background-color: #fff !important;
  border: 1px solid #8bc34a;
  color: black !important;
  box-shadow: none !important;
}

.yellowbtn {
  width: 100%;
  background-color: #ffd814 !important;
  color: #000 !important;
  border: 1px solid #e4c00c !important;
  font-weight: bold;
}

.clearbtn:hover {
  background-color: #f5f7fa;
}

.yellowbtn:hover {
  background-color: #f1cc0f !important;
}

.creator-pic {
  border: .2em solid #fff;
  border-radius: 9999px;
  margin-right: .2em;
  position: relative;
  top: .4em;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

#index #banner-footer {

  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d3fb95;
  background-position-x: -35em;
  padding: 2em;
}

.height60px {
  height: 60px;
}

/* .extra-large-font, h2 {

  font-family: 'Open Sans';

} */

.extra-large-font {
  font-size: 2em;
}

#product-stream h2 {
  text-transform: capitalize;
  font-size: 2.3em;
}

#curation1,
#curation2 {
  display: none;
}

.fadein {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  opacity: 1 !important;
}

.fadeout {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOutOpacity;
  animation-timing-function: ease-in;
  opacity: 0;
}

.margin-top-10-em {
  margin-top: 10em;
}

.margin-top-6-em {
  margin-top: 6.5em !important;
}


.font-1-5-em,
.font-size-1-5-em {
  font-size: 1.5em;
}

.font-size-2-em {
  font-size: 2em;
}

.four-col-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto;

}

.four-rows-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto auto auto;
  margin: 2em;
  margin: auto;
}

.four-rows-grid *,
.four-col-grid * {
  margin-left: auto;
  margin-right: auto;
}

.secondary_color {
  color: #009688;
}

.three-col-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto;
  margin: 2em;
  margin: auto;
}

#about .grid-two-cols img {
  height: auto;
  margin: 0;
}

.grid-two-cols {
  display: grid;
  grid-gap: 4em;
  grid-template-columns: auto auto;
  margin: 2em;
  margin: auto;
}

/* .grid-two-cols,
.three-col-grid * {
  margin: auto;
} */

.ginormous {
  font-size: 5em !important;

}

#headline_h1 {
  font-size: 3.25rem;
  line-height: 3.5rem;
  max-width: 500px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  /* background-color: #B12704; */
  padding: .2em;
  border-radius: .2em;
  /* color: #fff;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
  font-weight: 700;
}

.call-out p {
  /*  border-radius: .2em;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  background-color: yellow; */
  padding: .3em;
}

.gpic {
  border-radius: 9999px;
  height: 30px;
}

.grey {
  background-color: #a29d9d;
}

.guideh1 {
  background-color: #fff;
  padding: 1em;
}

.headline-user-box {
  display: inline-block;
  width: 640px;
}

.highlighted {
  font-size: 2.5em;
  color: #0c8dc4;
  font-family: "Concert One";
}

.lift {
  position: relative;
  top: -2em;
  z-index: 1;
}

.image-shipping-label {
  width: 400px;
  height: 600px;
  margin: auto;
}

.image-ego-boost {
  width: 50%;
}

.image-exclamation {
  height: 30px;
  margin-bottom: 1em;
}

.image-gray-overlay {
  background: rgba(39, 62, 84, 0.82);
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.image-width-40-percent {
  width: 40%;
}

.large-margin-bottom {
  margin-bottom: 4em;
}



.lock {
  background: url("../images/lock-icon.svg") no-repeat left;
  margin-top: 1em;
  padding-left: 1em;
}

.margin-bottom-10-em {
  margin-bottom: 10em !important;
}

.margin-top-4-em {
  margin-top: 4em !important;
}

.margin-top-2-em {
  margin-top: 2em !important;
}

.margin-top-zero {
  margin-top: 0 !important;
}

#preorder-grid {
  margin-bottom: 2em;
  place-content: center;
  color: #fff;
}

.p-large {
  font-size: 2.5em;
  margin: 0;
}

.margin-bottom-4-em {
  margin-bottom: 4em !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

/* Dropdown */

#myDropdown {
  right: 0;
  top: 1.5em;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  right:0;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: green;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #B12704;
  color: yellow;
  cursor: pointer;
}

#text-phone {
  margin-top: .5em;
  display: block;
  font-size: 1.5em;
  font-family: "Concert One";
}

/* Show the dropdown menu 
(use JS to add this class to the .dropdown-content 
container when the user clicks on the dropdown button) */
.show {
  display: block;
}



#left-aside a,
.menu a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;

  display: block;
  margin: auto;
  margin-left: 1em;
  margin-right: auto;
  padding: .5em;
  padding-right: 1em;
  padding-left: 1em;
  transition: 0.3s;
  box-shadow: 20px 20px 60px #0c8dc41a;
}

#left-aside a {
  margin-left: 0;
}

#menu-icon {
  color: #343434;
}




#left-aside a:hover,
.menu a:hover {
  background-color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 20px 20px 60px #0c8dc41a;
}

#tabs-wrapper a:active {
  box-shadow: 20px 20px 60px #0217201a;
}

#tabs-wrapper a:after {
  color: #000 !important;
}

.button:active, .menu a:active {
  box-shadow: 20px 20px 60px #0c8dc41a;
}

.menu div {
  background-color: #7B8723;
  display: none;
  height: 3px;
  margin: 6px 0;
  width: 30px;
}

.move-left {
  position: relative;
  right: 1em;
}

.move-right {
  left: 1em;
  position: relative;
}

/*.numbers {
  background-color: lightblue;
  border-radius: 50%;
  color: #fff;
  float: left;
  font-size: 2em;
  height: 1.3em;
  margin-bottom: 1em;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 1.3em;
}*/
.one-em-font {
  font-size: 1em;
}

.blog-masthead-featured {
  display: grid;
  grid-template-columns: 66% 30%;
  grid-column-gap: 4%;
  width: 60%;
  margin: auto;
  margin-top: 4em;
}

.blog-headline-1 {
  font-size: 3em;
  font-weight: 100;
}

#blog-masthead-image {
  width: 100%;
}

.blog-right-sidebar {
  display: grid;
  grid-template-rows: auto auto;
}

.playbtn {
  height: auto;
  left: 42%;
  position: absolute;
  top: 40%;
  width: 5em;
}



.playbtn:hover {
  cursor: pointer;
}

.playbtn-wrapper {
  height: fit-content;
  position: relative;
  width: fit-content;
  overflow: hidden;
  margin: auto;
}

.as-seen-on {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #B12704;
  color: #fff;
  font-weight: bold;
  border-radius: .5em;
  max-width: fit-content !important;
}

.price-options-grid input {
  margin-left: .5em;
}

.price-options-grid input, .price-options-grid p {

  text-align: center;
}

.price-options-grid label {
  text-align: center;
}

.price-options-grid p {
  grid-column-start: 2;
}

.privacy #panel a {
  color: #009688;
  text-decoration: underline;
}

.privacy #panel ul li, .privacy #panel p {
  line-height: 200%;
}

.privacy p {
  max-width: 100%;
}

.productsgif {
  height: auto;
  width: 800px;
}

p {
  font-size: 1.3em;
  /* Don't change */
}

a {
  font-size: 1.4em;
}

.profile-heading, #subs-btns, .guideh1 {
  margin-bottom: 2em;
  margin-top: 2em;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.recommended {
  background-color: #fff;
  border: 4px solid #F2835E !important;
  position: relative;
}

.recommendedh2 {
  background-color: #F2835E;
  color: #fff;
}

.right-align {
  text-align: right;
}

.sales-icon {
  height: 120px;
  width: 120px;
}



.messages-panel {
  width: 96%;
  height: 30em;
  padding: 2%;
  position: relative;
}

.search input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 0;
  height: 20px;
  outline: 0;
  padding: 2px 23px 3px 10px;
  width: 100%;
  letter-spacing: 2px;
  font-style: italic;
  position: relative;
  top: .2em;
}

.search:hover, .search:focus {
  background-color: white;
}

#search-icon {
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

.font-2-5-em {
  font-size: 2.5em;
}

.secinner {

  margin-bottom: auto;
  margin-top: auto;
  padding: 1em;
}

.secinner h1 {
  margin-top: 0;
}

.grid-gap {
  grid-gap: 2em;
}

.circle {
  height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 9999px;
  margin-right: .5em;
}

.red {
  background-color: #c40c0c;
}

.green {
  color: #007600;

}

.yellow {
  background-color: #ebb608;

}

#starsv2 {
  margin: auto;
  width: 135px;
}

.reviews-section {
  background: #8bc34a0a;
  box-shadow: 5px -5px 60px #8bc34a0a;
  border-radius: 1em;
  padding: 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto auto;
  height: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

}

.text-3em {
  font-size: 2em;

}

#ratings-breakdown li span {
  height: 8px;
  margin-right: 1em;
  width: 50px;
  display: inline-block;
}

#ratings-overview {
  grid-gap: 2em;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.reviewer-grid {
  margin: 0;
  max-width: 450px;
  width: 100%;
}

.section {
  display: grid;
  grid-gap: 1em 1em;
  grid-template-rows: auto;
  height: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

}

.section h3 {
  font-weight: bold;
}

.maxw800px {
  max-width: 800px;
  width: 100%;
}

.maxw600px {
  max-width: 600px;
  width: 100%;
}

.block {
  width: 100%;
  background-color: green;
  color: #fff;
  padding: 2em;
  margin-bottom: 2em;
  height: 10em;

}

#orgs-logos {
  place-content: center;
  grid-gap: 10%;
}

.wide {
  width: 100%;
  margin-bottom: 2em;

}

.greybg {
  background-color: #eff5ef;
}

.white {
  color: #fff !important;
}

.section iframe, .creator-ego {
  height: 100%;
  margin-bottom: 5em;
  margin-top: 5em;
  width: 100%;
}

#team-wrapper img {
  width: auto;
  margin: 0;
}

#team-wrapper .four-col-grid {
  place-items: center;
  max-width: 950px;
  margin: auto;
  grid-gap: 3em;
  color:#000;
}

.three-rows-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 3em;
}

.section-inner-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 45% auto;
  grid-template-rows: auto auto;
}

/* .new-section-inner-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto 25% auto;
  align-items: center;
  position: relative;

} */

#move-down {

  margin-top: 6em;
}

/* .wide img {
  margin-top: 0;
  margin-bottom: 0;
  width: 75px;
  -ms-transform: scaleX(-1) rotate(-35deg);
  IE 9
  -webkit-transform: scaleX(-1) rotate(-35deg);
  Chrome, Safari, Opera
  transform: scaleX(-1) rotate(-35deg);

} */

.showAddress:hover .address {
  display: block;
}

/*SETTINGS*/
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  webkit-transition: .4s;
}

.slider.round {
  border-radius: 34px;
  height: 1.2em;
  width: 2em;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 13px;
  left: 4px;
  position: absolute;
  transition: .4s;
  webkit-transition: .4s;
  width: 13px;
}

/*.switch
{
	display: inline-block;
	height: 21px;
	position: absolute;
	right: 0;
	width: 30px;
}
.switch input
{
	height: 0;
	opacity: 0;
	width: 0;
}
.switches
{
	padding: 1em;
}
.switches li
{
	display: grid;
	grid-template-columns: 50% 50%;
	padding-bottom: 4em;
	position: relative;
}*/
.text-heading-label {
  color: #0c8dc4 !important;
  position: relative;
  top: 2em;
}

.price-options-grid {
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto;
  margin-top: 2em;
}

.three-em-line-height {
  line-height: 3em;
}

.tip {
  padding: 1em;
}

.underline {
  text-decoration: underline;
}

.vertical-align {
  margin-bottom: auto;
  margin-top: auto;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a {
  color: #0c8dc4;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.learn-more:hover {
  color: yellow;
  text-decoration: none;

}

.charitable-grid {
  display: grid;
  grid-template-columns: 10% 58%;
  place-items: center;
  grid-gap: 2%;

  width: 414px;
}

.charitable-grid img {
  border-radius: 999px;
}

body {

  color: #343434;
  font-size: 12.06px;
  height: auto;
  margin: 0;
  min-height: 97%;
  overflow-x: hidden;
}

fieldset {
  border: none;
  border: 1px solid #ccfdc2;
  padding: 4% !important;
  margin-bottom: 2em;
}

.fieldset-neuromorph,
#create-box fieldset {
  margin-bottom: 3em;
  padding: 2em;

}

.font-size-30px {
  font-size: 30px !important;
}

legend {
  font-size: 1.5em;
  font-family: 'Concert One';
  text-align: left;
}

footer {

  display: grid;
  margin: 0 auto;
  padding-bottom: 5em;
  padding-top: 10em;
  width: 100%;
  margin-bottom: 4em;
  background-color: #8bc34a0a;
}

#image-raised-fist {
  max-height: 100px;
}

#grid-founders img {
  width: 50px;
}

#about .pitch img {
  height: 100%;
  max-height: 500px;
  margin-bottom: auto;

}

#about #team-wrapper img {
  height: 100%;
  max-height: 200px;
  margin-bottom: auto;

}

.margin-top-1-2-em {
  margin-top: 1.2em;
}

.margin-top-2-3-em {
  margin-top: 2.3em;
}

.display-block {
  display: block !important;
}

.display-inline {
  display: inline !important;
}

.display-grid {
  display: grid;
  grid-template-columns: 30px auto;
}

.margin-bottom-2-em {
  margin-bottom: 2em;
}



h4 {
  line-height: 1.5em;
  width: 25em;
}

.flip-right {
  grid-column-start: 2;
}

.flip-left {
  grid-column-start: 1;
  grid-row-start: 1;
}

header {

  grid-row-end: 2;
  grid-row-start: 2;
  background-color: green;
  height: 78px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

}

#header-inner-wrapper {
  position: relative;
  margin: auto;
  top: 50%;
  margin-top: -26px;
  height: 50px;
  display: grid;
  align-items: center;
  grid-gap: 2%;
  display: grid;
  grid-template-columns: auto auto auto 15% auto auto auto;
}

#m-menu .button,
#header-inner-wrapper .button {
  box-shadow: none;
  border: none;
}

.h70px {
  height: 70px;
}
.h50px {
  height: 50px;
}
.w40px {
  width: 40px !important;
}

.w30px {
  width: 30px;
}

.card {
  background-color: white;
  padding: 2%;
  border: 1px solid #cccccc4a;
}

.rounded-corners {
  border-radius: .5em;
}

#orgs {
  grid-gap: 5%;
}

#m-menu .button:hover,
#header-inner-wrapper .button:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  background-color: transparent !important;
  border: none;
}

#product-stream img {
  width: 100%;
  margin: 0;
}

.creator-ego {
  margin: 0 !important;
  max-width: 200px;
}

.text-red {
  color: #B12704 !important;
}

.move-up {
  position: relative;
  top: -1.8em;
  line-height: 16px;
}

.creator-ego:hover {
  box-shadow: 20px 20px 60px #0c8dc41a, -20px -20px 60px #ffffff;
  opacity: .5;
}

#product-stream {
  grid-gap: 20px;
  max-width: 1015px;
  margin-left: auto;
  margin-right: auto;
}

.div-horizontal-rule {
  border-bottom: 1px solid #8bc34a;
  margin-bottom: 3em;
  margin-top: 3em;
  max-width: 1035px;
  width: 100%;
}
.review{
  border-bottom: 1px solid #8bc34a;
  border-top: 1px solid #8bc34a;
  padding-top:2em;
  padding-bottom:2em;
}
.border-bottom {
  border-bottom: 1px solid #8bc34a !important;
}

.div-wide-horizontal-rule {
  border-bottom: 1px solid #8bc34a;
  margin-bottom: 3em;
  margin-top: 3em;
  max-width: 1035px;
  width: 100%;
}

.plan-header-text {
  position: relative;
  top: -2.1em;
  letter-spacing: 2px;
  font-size: 15px;
}

header #grid-1 {
  display: grid;
  grid-gap: 4.5em;
  grid-template-columns: 3em auto auto auto;
}

.anchor-shop {

  margin-left: 5%;
}

#header-inner-wrapper {
  vertical-align: middle;
}

header #grid-2 {
  height: 30px;
}

#signin {
  position: relative;
  width: 100%;
  min-width: 250px;
}

#nav-header-right {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -15px;
}

#alt-nav-header-right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}

#alt-nav-header-right li,
#nav-header-right li {
  display: inline;
  margin-left: 3em;
  float: left;
  font-size: 1em;
}

.m-hide{
  display: none;
}

/* #m-menu>*,
header>* {
  margin: auto;
  margin-left: 0;
}

#header-user-icon {
  border: 3px solid yellow;
} */

header #user-icon,
header,
header .material-icons {
  margin: auto;
  display: inline;
}

header a:hover,
header a {
  text-decoration: none;
}

.special-offer,
#special-offer {
  display: none;
}

.icon-in-header {
  margin-right: .5em !important;
}

.row-gap-4-em {
  row-gap: 4em;
}

ul {
  list-style: none;
  /* Remove default bullets */
}

ol {
  list-style: disc;
  /* Remove default bullets */
}
.order-summary,
#order-summary {
  padding: 4%;
  border-radius: .5em;
  max-width: 290px;
}
.order-summary,
#order-summary .two-col-grid {
  grid-template-columns: 80% 20%;
}

#checkout-main {
  width: 50%;
  margin: auto;
  grid-gap: 2%;
}

.font15em {
  font-size: 15em !important;
}
.order-summary,
#order-summary .two-col-grid p {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}

#checkout-content .two-col-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2em;

}

#checkout-content .step-wrapper {
  border: 1px solid #8bc34a;
  padding: 4%;

}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

#iframe-checkout {
  width: 100%;
  height: 300px;
}

#checkout-content {
  width: 100%;
  margin: auto;
  max-width: 585px;
}

#checkout-header {
  max-width: 1235px;
  width: 100%;
  align-items: start;
  grid-template-columns: 30% 50% 10%;
}

#checkout-header-wrapper {
  padding: 1.5em;
  background-color: green;
  background-size: contain;
  background-repeat: repeat-x;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

#checkout-header * {
  margin: 0;
}

#checkout-content .three-col-grid {
  width: 100%;
  place-content: flex-start;
  grid-template-columns: 30% 60% 10%;
}

#contact ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #343434;
  ;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

#subscriptions-stream {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}

label {
  padding: .6em;
}

/*label, input[type="submit"] {
  clear: both;
  float: left;
}*/
.blog-masthead-images {
  width: 100%;
  height: auto;
}

.fit-content {
  width: fit-content;
}

.max-content {
  width: max-content;
}

nav {
  display: grid;
  grid-column-start: 3;
  grid-gap: 2em;
  grid-template-columns: 90px 90px auto;
  position: relative;
  width: 100%;
}

nav a:hover {
  text-decoration: underline !important;
}

option[value=""][disabled] {
  display: none;
}

.asides p {
  max-width: 25em;
}

padding-top-6-em {
  padding-top: 6em;
}

select:required:invalid {
  color: gray;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td h2 {
  position: relative;


  textarea {
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
  }

  th, td {
    border: 1px solid #fff;
    padding: 1em;
  }

  th {
    text-align: left;

  }

  ul li {
    padding-bottom: .5em;
  }

  ul, p {
    line-height: 140%;
    color: #023256;
  }

  ul li, ol li, td, p, a, label {
    font-size: 1.5em;
  }

  td ul li {
    font-size: 1em;
    ;
  }
 
  #home main p {
    max-width: 600px;
  }

  /* label {
  float: left;
  clear: both;
} */

  #create-box fieldset {

    box-shadow: 2px 4px 12px #0c8dc41a;
  }


  h3 {

    font-size: 2em;

  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }